/**
 * components->grid
 */

.row {
  @extend .clearfix;
  width: 100%;
  max-width: $grid-row-width;
  margin-right: auto;
  margin-left: auto;
  &.row--skinny {
    max-width: $grid-skinny-row-width;
  }
  &.row--fullwidth {
    max-width: none;
  }
}

@mixin column($α, $β: false, $γ: false, $δ: false) {
  @if $α { 
    width: percentage(($α / $grid-total-columns));
  } 
  @include pad-this();
  position: relative;
  float: left;
  @if $β { 
    @media #{$medium-up} {
      width: percentage(($β / $grid-total-columns));
    }
  } 
  @if $γ {
    @media #{$large-up} {  
      width: percentage(($γ / $grid-total-columns));
    }
  }
  @if $δ {
    @media #{$xlarge-up} {
      width: percentage(($δ / $grid-total-columns));
    }
  }
}

@mixin push($num) {
  left: percentage($num / $grid-total-columns);
}

@mixin pull($num) {
  right: percentage($num / $grid-total-columns);
}

@mixin float($dir, $breakpoint: $medium-up) {
  @if $dir != none {
    @media #{$breakpoint} {
      float: $dir; 
    }
  }
}

@mixin pad-this($gutter: $grid-column-gutter) {
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}