/**
 * components->typography
 */

body {
  color: palette(grey, x-dark);
  font-size: 18px;
  font-family: $body-font;
  font-weight: 300;
}

strong, 
b {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  + h1,
  + h2,
  + h3,
  + h4 {
    margin-top: rem-calc($rem-base);
  }
}

%title-section {
  font-size: 3.157em;
  font-family: $title-font;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 3.998em;
  }
  small {
    color: palette(grey);
    font-size: smaller;
    font-weight: 300;
  }
} 

%title-page {
  font-size: 1.777em;
  font-family: $title-font;
  font-weight: 900;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 1.999em;
  }
  small {
    color: palette(grey);
    font-size: smaller;
    font-weight: 300;
  }
} 

%title-page-large {
  @extend %title-page;
  font-size: 2.369em;
  @media #{$medium-up} {
    font-size: 2.827em;
  }
}

%title-page-section {
  font-size: 1.777em;
  font-family: $title-font;
  font-weight: 900;
  line-height: 1.15;
  @media #{$medium-up} {
    font-size: 1.999em;
  }
  small {
    color: palette(grey);
    font-size: normal;
  }
} 

%title-page-subtitle {
  color: palette(grey);
  font-size: 1.333em;
  font-family: $detail-font;
  font-weight: 700;
  font-style: italic;
  @media #{$medium-up} {
    font-size: 1.414em;
  }
  small {
    color: palette(grey, light);
    font-size: normal;
  }
}

%title-event {
  font-size: 1.1em;
  font-family: $detail-font;
  font-weight: 300;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 1.2em;
  }
  small {
    color: palette(grey, light);
    font-size: normal;
  }
}

%title-event-subevent {
  margin-bottom: rem-calc(8);
  color: palette(grey);
  font-family: $body-font;
  font-weight: 600;
  small {
    color: palette(grey, light);
    font-size: normal;
  }
}

%title-list {
  margin-bottom: rem-calc(15);
  font-size: smaller;
  font-family: $title-font;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

%title-postcard {
  font-size: 1.2em;
  font-family: $title-font;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 1.3;
  }
  small {
    color: palette(grey);
    font-size: smaller;
    font-weight: 300;
  }
} 

p, 
ul, 
ol, 
dl {
  margin: rem-calc($rem-base) 0;
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}

.lede {
  font-size: 120%;
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: 140%;
  }
}

ul, 
ol {
  margin: rem-calc($rem-base/2 0);
  padding: 0 0 0 rem-calc(35);
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: rem-calc($rem-base*4);
  }
}

mark {
  background-color: palette(yellow);
}

code, 
keygen,
kbd, 
ruby,
samp {
  font-family: $mono-font;
  font-size: 85%;
}