/* 
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
/* 
* RESET
* 
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
/* line 17, ../scss/elements/common/_reset.scss */
html, body,
div, span, article, aside, figure, figcaption, footer, header, group, main, menu, nav, section,
object, embed, iframe, applet, audio, video, img, picture,
h1, h2, h3, h4, h5, h6,
p, blockquote, dl, dt, dd, ol, ul, li,
a, pre, abbr, address, cite, code, del, ins, dfn, em, kbd, q, samp, small, sub, sup, var, b, i, u, s, strong, time, mark, bdi, bdo, ruby, rt, rp,
form, fieldset, legend, label, input, button, select, textarea, keygen, output, progress, meter,
details, summary, command, menu,
table, thead, tbody, tfoot, caption, tr, th, td,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
}

/* line 27, ../scss/elements/common/_reset.scss */
article, aside, figure, figcaption, footer, header, hgroup, main, nav, section, video, audio, details {
  display: block;
}

/* 
* COMMON
*
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 14, ../scss/elements/common/_common.scss */
html {
  position: relative;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #fc0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/* line 30, ../scss/elements/common/_common.scss */
input, button, textarea, select {
  -webkit-font-smoothing: antialiased;
}

/* line 34, ../scss/elements/common/_common.scss */
body {
  width: 100%;
  background-color: transparent;
  font-size: 1.6em;
}

/* line 40, ../scss/elements/common/_common.scss */
.chromeframe {
  padding: 3px;
  color: black;
  background: yellow;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}
/* line 48, ../scss/elements/common/_common.scss */
.chromeframe a {
  color: black;
}

/* line 54, ../scss/elements/common/_common.scss */
nav ul, nav ol {
  list-style: none;
}

/* line 59, ../scss/elements/common/_common.scss */
img, audio, video, picture, iframe {
  max-width: 100%;
  height: auto;
}

/* line 64, ../scss/elements/common/_common.scss */
a img {
  border: 0;
}

/* line 68, ../scss/elements/common/_common.scss */
small {
  font-size: 80%;
}

/* line 72, ../scss/elements/common/_common.scss */
.clear {
  display: none;
  clear: both;
}

/* line 77, ../scss/elements/common/_common.scss */
.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../type/fontawesome-webfont.eot?v=3.1.0");
  src: url("../type/fontawesome-webfont.eot?#iefix&v=3.1.0") format("embedded-opentype"), url("../type/fontawesome-webfont.woff?v=3.1.0") format("woff"), url("../type/fontawesome-webfont.ttf?v=3.1.0") format("truetype"), url("../type/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../scss/elements/icons/_font_awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

/* line 23, ../scss/elements/icons/_font_awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* line 32, ../scss/elements/icons/_font_awesome.scss */
a [class^="icon-"], a [class^="icon-"]:before,
a [class*=" icon-"],
a [class*=" icon-"]:before {
  display: inline;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 38, ../scss/elements/icons/_font_awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 39, ../scss/elements/icons/_font_awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 40, ../scss/elements/icons/_font_awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 41, ../scss/elements/icons/_font_awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 42, ../scss/elements/icons/_font_awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 43, ../scss/elements/icons/_font_awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 44, ../scss/elements/icons/_font_awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 45, ../scss/elements/icons/_font_awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 46, ../scss/elements/icons/_font_awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 47, ../scss/elements/icons/_font_awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 48, ../scss/elements/icons/_font_awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 49, ../scss/elements/icons/_font_awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 50, ../scss/elements/icons/_font_awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 51, ../scss/elements/icons/_font_awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 52, ../scss/elements/icons/_font_awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 54, ../scss/elements/icons/_font_awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 55, ../scss/elements/icons/_font_awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 56, ../scss/elements/icons/_font_awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 57, ../scss/elements/icons/_font_awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 58, ../scss/elements/icons/_font_awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 59, ../scss/elements/icons/_font_awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 60, ../scss/elements/icons/_font_awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 61, ../scss/elements/icons/_font_awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 62, ../scss/elements/icons/_font_awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 63, ../scss/elements/icons/_font_awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 64, ../scss/elements/icons/_font_awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 65, ../scss/elements/icons/_font_awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 66, ../scss/elements/icons/_font_awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 67, ../scss/elements/icons/_font_awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 69, ../scss/elements/icons/_font_awesome.scss */
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e";
}

/* F020 doesn't work in Safari. all shifted one down */
/* line 72, ../scss/elements/icons/_font_awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 73, ../scss/elements/icons/_font_awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 74, ../scss/elements/icons/_font_awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 75, ../scss/elements/icons/_font_awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 76, ../scss/elements/icons/_font_awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 77, ../scss/elements/icons/_font_awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 78, ../scss/elements/icons/_font_awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 79, ../scss/elements/icons/_font_awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 80, ../scss/elements/icons/_font_awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 81, ../scss/elements/icons/_font_awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 82, ../scss/elements/icons/_font_awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 83, ../scss/elements/icons/_font_awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 84, ../scss/elements/icons/_font_awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 85, ../scss/elements/icons/_font_awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 86, ../scss/elements/icons/_font_awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 88, ../scss/elements/icons/_font_awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 89, ../scss/elements/icons/_font_awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 90, ../scss/elements/icons/_font_awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 91, ../scss/elements/icons/_font_awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 92, ../scss/elements/icons/_font_awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 93, ../scss/elements/icons/_font_awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 94, ../scss/elements/icons/_font_awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 95, ../scss/elements/icons/_font_awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 96, ../scss/elements/icons/_font_awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 97, ../scss/elements/icons/_font_awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 98, ../scss/elements/icons/_font_awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 99, ../scss/elements/icons/_font_awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 100, ../scss/elements/icons/_font_awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 101, ../scss/elements/icons/_font_awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 102, ../scss/elements/icons/_font_awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 104, ../scss/elements/icons/_font_awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 105, ../scss/elements/icons/_font_awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 106, ../scss/elements/icons/_font_awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 107, ../scss/elements/icons/_font_awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 108, ../scss/elements/icons/_font_awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 109, ../scss/elements/icons/_font_awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 110, ../scss/elements/icons/_font_awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 111, ../scss/elements/icons/_font_awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 112, ../scss/elements/icons/_font_awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 113, ../scss/elements/icons/_font_awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 114, ../scss/elements/icons/_font_awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 115, ../scss/elements/icons/_font_awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 116, ../scss/elements/icons/_font_awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 117, ../scss/elements/icons/_font_awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 118, ../scss/elements/icons/_font_awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 120, ../scss/elements/icons/_font_awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 121, ../scss/elements/icons/_font_awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 122, ../scss/elements/icons/_font_awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 123, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 124, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 125, ../scss/elements/icons/_font_awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 126, ../scss/elements/icons/_font_awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 127, ../scss/elements/icons/_font_awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 128, ../scss/elements/icons/_font_awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 129, ../scss/elements/icons/_font_awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 130, ../scss/elements/icons/_font_awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 131, ../scss/elements/icons/_font_awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 132, ../scss/elements/icons/_font_awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 133, ../scss/elements/icons/_font_awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 134, ../scss/elements/icons/_font_awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 136, ../scss/elements/icons/_font_awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 137, ../scss/elements/icons/_font_awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 138, ../scss/elements/icons/_font_awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 139, ../scss/elements/icons/_font_awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 141, ../scss/elements/icons/_font_awesome.scss */
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064";
}

/* line 142, ../scss/elements/icons/_font_awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 143, ../scss/elements/icons/_font_awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 144, ../scss/elements/icons/_font_awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 145, ../scss/elements/icons/_font_awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 146, ../scss/elements/icons/_font_awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 147, ../scss/elements/icons/_font_awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 148, ../scss/elements/icons/_font_awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 149, ../scss/elements/icons/_font_awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 150, ../scss/elements/icons/_font_awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 151, ../scss/elements/icons/_font_awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 153, ../scss/elements/icons/_font_awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 154, ../scss/elements/icons/_font_awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 155, ../scss/elements/icons/_font_awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 156, ../scss/elements/icons/_font_awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 157, ../scss/elements/icons/_font_awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 158, ../scss/elements/icons/_font_awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 159, ../scss/elements/icons/_font_awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 160, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 161, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 162, ../scss/elements/icons/_font_awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 163, ../scss/elements/icons/_font_awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 164, ../scss/elements/icons/_font_awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 165, ../scss/elements/icons/_font_awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 166, ../scss/elements/icons/_font_awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 167, ../scss/elements/icons/_font_awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 169, ../scss/elements/icons/_font_awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 170, ../scss/elements/icons/_font_awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 171, ../scss/elements/icons/_font_awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 172, ../scss/elements/icons/_font_awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 173, ../scss/elements/icons/_font_awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 174, ../scss/elements/icons/_font_awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 175, ../scss/elements/icons/_font_awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 176, ../scss/elements/icons/_font_awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 177, ../scss/elements/icons/_font_awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 178, ../scss/elements/icons/_font_awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 179, ../scss/elements/icons/_font_awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 180, ../scss/elements/icons/_font_awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 181, ../scss/elements/icons/_font_awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 182, ../scss/elements/icons/_font_awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 183, ../scss/elements/icons/_font_awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 185, ../scss/elements/icons/_font_awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 186, ../scss/elements/icons/_font_awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 187, ../scss/elements/icons/_font_awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 188, ../scss/elements/icons/_font_awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 189, ../scss/elements/icons/_font_awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 190, ../scss/elements/icons/_font_awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 191, ../scss/elements/icons/_font_awesome.scss */
.icon-check-empty:before {
  content: "\f096";
}

/* line 192, ../scss/elements/icons/_font_awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 193, ../scss/elements/icons/_font_awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 194, ../scss/elements/icons/_font_awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 195, ../scss/elements/icons/_font_awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 196, ../scss/elements/icons/_font_awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 197, ../scss/elements/icons/_font_awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 198, ../scss/elements/icons/_font_awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 199, ../scss/elements/icons/_font_awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 201, ../scss/elements/icons/_font_awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 202, ../scss/elements/icons/_font_awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 203, ../scss/elements/icons/_font_awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 204, ../scss/elements/icons/_font_awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 205, ../scss/elements/icons/_font_awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 206, ../scss/elements/icons/_font_awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 207, ../scss/elements/icons/_font_awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 208, ../scss/elements/icons/_font_awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 209, ../scss/elements/icons/_font_awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 210, ../scss/elements/icons/_font_awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 211, ../scss/elements/icons/_font_awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 212, ../scss/elements/icons/_font_awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 213, ../scss/elements/icons/_font_awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 214, ../scss/elements/icons/_font_awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 215, ../scss/elements/icons/_font_awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 217, ../scss/elements/icons/_font_awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 218, ../scss/elements/icons/_font_awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 219, ../scss/elements/icons/_font_awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 221, ../scss/elements/icons/_font_awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 222, ../scss/elements/icons/_font_awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 223, ../scss/elements/icons/_font_awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 224, ../scss/elements/icons/_font_awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 225, ../scss/elements/icons/_font_awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 226, ../scss/elements/icons/_font_awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 227, ../scss/elements/icons/_font_awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 228, ../scss/elements/icons/_font_awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 229, ../scss/elements/icons/_font_awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 230, ../scss/elements/icons/_font_awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 231, ../scss/elements/icons/_font_awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 232, ../scss/elements/icons/_font_awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 233, ../scss/elements/icons/_font_awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 234, ../scss/elements/icons/_font_awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 235, ../scss/elements/icons/_font_awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 237, ../scss/elements/icons/_font_awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 238, ../scss/elements/icons/_font_awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 239, ../scss/elements/icons/_font_awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 240, ../scss/elements/icons/_font_awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 241, ../scss/elements/icons/_font_awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 242, ../scss/elements/icons/_font_awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 243, ../scss/elements/icons/_font_awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 244, ../scss/elements/icons/_font_awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 245, ../scss/elements/icons/_font_awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 246, ../scss/elements/icons/_font_awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 247, ../scss/elements/icons/_font_awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 248, ../scss/elements/icons/_font_awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 249, ../scss/elements/icons/_font_awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 250, ../scss/elements/icons/_font_awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 251, ../scss/elements/icons/_font_awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 253, ../scss/elements/icons/_font_awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 254, ../scss/elements/icons/_font_awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 256, ../scss/elements/icons/_font_awesome.scss */
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2";
}

/* line 257, ../scss/elements/icons/_font_awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 258, ../scss/elements/icons/_font_awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 259, ../scss/elements/icons/_font_awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 260, ../scss/elements/icons/_font_awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 261, ../scss/elements/icons/_font_awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 262, ../scss/elements/icons/_font_awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 263, ../scss/elements/icons/_font_awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 264, ../scss/elements/icons/_font_awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 265, ../scss/elements/icons/_font_awesome.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 266, ../scss/elements/icons/_font_awesome.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 267, ../scss/elements/icons/_font_awesome.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 268, ../scss/elements/icons/_font_awesome.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 270, ../scss/elements/icons/_font_awesome.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 271, ../scss/elements/icons/_font_awesome.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 272, ../scss/elements/icons/_font_awesome.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 273, ../scss/elements/icons/_font_awesome.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 274, ../scss/elements/icons/_font_awesome.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 275, ../scss/elements/icons/_font_awesome.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 276, ../scss/elements/icons/_font_awesome.scss */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 277, ../scss/elements/icons/_font_awesome.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 278, ../scss/elements/icons/_font_awesome.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 279, ../scss/elements/icons/_font_awesome.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 280, ../scss/elements/icons/_font_awesome.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 281, ../scss/elements/icons/_font_awesome.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 282, ../scss/elements/icons/_font_awesome.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 283, ../scss/elements/icons/_font_awesome.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 284, ../scss/elements/icons/_font_awesome.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 286, ../scss/elements/icons/_font_awesome.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 287, ../scss/elements/icons/_font_awesome.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 288, ../scss/elements/icons/_font_awesome.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 289, ../scss/elements/icons/_font_awesome.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 290, ../scss/elements/icons/_font_awesome.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 291, ../scss/elements/icons/_font_awesome.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 292, ../scss/elements/icons/_font_awesome.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 293, ../scss/elements/icons/_font_awesome.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 294, ../scss/elements/icons/_font_awesome.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 295, ../scss/elements/icons/_font_awesome.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 296, ../scss/elements/icons/_font_awesome.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 297, ../scss/elements/icons/_font_awesome.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 298, ../scss/elements/icons/_font_awesome.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 299, ../scss/elements/icons/_font_awesome.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 300, ../scss/elements/icons/_font_awesome.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 302, ../scss/elements/icons/_font_awesome.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 303, ../scss/elements/icons/_font_awesome.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 305, ../scss/elements/icons/_font_awesome.scss */
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112";
}

/* line 306, ../scss/elements/icons/_font_awesome.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 307, ../scss/elements/icons/_font_awesome.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 308, ../scss/elements/icons/_font_awesome.scss */
.icon-expand-alt:before {
  content: "\f116";
}

/* line 309, ../scss/elements/icons/_font_awesome.scss */
.icon-collapse-alt:before {
  content: "\f117";
}

/* line 310, ../scss/elements/icons/_font_awesome.scss */
.icon-smile:before {
  content: "\f118";
}

/* line 311, ../scss/elements/icons/_font_awesome.scss */
.icon-frown:before {
  content: "\f119";
}

/* line 312, ../scss/elements/icons/_font_awesome.scss */
.icon-meh:before {
  content: "\f11a";
}

/* line 313, ../scss/elements/icons/_font_awesome.scss */
.icon-gamepad:before {
  content: "\f11b";
}

/* line 314, ../scss/elements/icons/_font_awesome.scss */
.icon-keyboard:before {
  content: "\f11c";
}

/* line 315, ../scss/elements/icons/_font_awesome.scss */
.icon-flag-alt:before {
  content: "\f11d";
}

/* line 316, ../scss/elements/icons/_font_awesome.scss */
.icon-flag-checkered:before {
  content: "\f11e";
}

/* line 318, ../scss/elements/icons/_font_awesome.scss */
.icon-terminal:before {
  content: "\f120";
}

/* line 319, ../scss/elements/icons/_font_awesome.scss */
.icon-code:before {
  content: "\f121";
}

/* line 320, ../scss/elements/icons/_font_awesome.scss */
.icon-reply-all:before {
  content: "\f122";
}

/* line 321, ../scss/elements/icons/_font_awesome.scss */
.icon-mail-reply-all:before {
  content: "\f122";
}

/* line 323, ../scss/elements/icons/_font_awesome.scss */
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

/* line 324, ../scss/elements/icons/_font_awesome.scss */
.icon-location-arrow:before {
  content: "\f124";
}

/* line 325, ../scss/elements/icons/_font_awesome.scss */
.icon-crop:before {
  content: "\f125";
}

/* line 326, ../scss/elements/icons/_font_awesome.scss */
.icon-code-fork:before {
  content: "\f126";
}

/* line 327, ../scss/elements/icons/_font_awesome.scss */
.icon-unlink:before {
  content: "\f127";
}

/* line 328, ../scss/elements/icons/_font_awesome.scss */
.icon-question:before {
  content: "\f128";
}

/* line 329, ../scss/elements/icons/_font_awesome.scss */
.icon-info:before {
  content: "\f129";
}

/* line 330, ../scss/elements/icons/_font_awesome.scss */
.icon-exclamation:before {
  content: "\f12a";
}

/* line 331, ../scss/elements/icons/_font_awesome.scss */
.icon-superscript:before {
  content: "\f12b";
}

/* line 332, ../scss/elements/icons/_font_awesome.scss */
.icon-subscript:before {
  content: "\f12c";
}

/* line 333, ../scss/elements/icons/_font_awesome.scss */
.icon-eraser:before {
  content: "\f12d";
}

/* line 334, ../scss/elements/icons/_font_awesome.scss */
.icon-puzzle-piece:before {
  content: "\f12e";
}

/* line 336, ../scss/elements/icons/_font_awesome.scss */
.icon-microphone:before {
  content: "\f130";
}

/* line 337, ../scss/elements/icons/_font_awesome.scss */
.icon-microphone-off:before {
  content: "\f131";
}

/* line 338, ../scss/elements/icons/_font_awesome.scss */
.icon-shield:before {
  content: "\f132";
}

/* line 339, ../scss/elements/icons/_font_awesome.scss */
.icon-calendar-empty:before {
  content: "\f133";
}

/* line 340, ../scss/elements/icons/_font_awesome.scss */
.icon-fire-extinguisher:before {
  content: "\f134";
}

/* line 341, ../scss/elements/icons/_font_awesome.scss */
.icon-rocket:before {
  content: "\f135";
}

/* line 342, ../scss/elements/icons/_font_awesome.scss */
.icon-maxcdn:before {
  content: "\f136";
}

/* line 343, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-sign-left:before {
  content: "\f137";
}

/* line 344, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-sign-right:before {
  content: "\f138";
}

/* line 345, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-sign-up:before {
  content: "\f139";
}

/* line 346, ../scss/elements/icons/_font_awesome.scss */
.icon-chevron-sign-down:before {
  content: "\f13a";
}

/* line 347, ../scss/elements/icons/_font_awesome.scss */
.icon-html5:before {
  content: "\f13b";
}

/* line 348, ../scss/elements/icons/_font_awesome.scss */
.icon-css3:before {
  content: "\f13c";
}

/* line 349, ../scss/elements/icons/_font_awesome.scss */
.icon-anchor:before {
  content: "\f13d";
}

/* line 350, ../scss/elements/icons/_font_awesome.scss */
.icon-unlock-alt:before {
  content: "\f13e";
}

/* line 352, ../scss/elements/icons/_font_awesome.scss */
.icon-bullseye:before {
  content: "\f140";
}

/* line 353, ../scss/elements/icons/_font_awesome.scss */
.icon-ellipsis-horizontal:before {
  content: "\f141";
}

/* line 354, ../scss/elements/icons/_font_awesome.scss */
.icon-ellipsis-vertical:before {
  content: "\f142";
}

/* line 355, ../scss/elements/icons/_font_awesome.scss */
.icon-rss-sign:before {
  content: "\f143";
}

/* line 356, ../scss/elements/icons/_font_awesome.scss */
.icon-play-sign:before {
  content: "\f144";
}

/* line 357, ../scss/elements/icons/_font_awesome.scss */
.icon-ticket:before {
  content: "\f145";
}

/* line 358, ../scss/elements/icons/_font_awesome.scss */
.icon-minus-sign-alt:before {
  content: "\f146";
}

/* line 359, ../scss/elements/icons/_font_awesome.scss */
.icon-check-minus:before {
  content: "\f147";
}

/* line 360, ../scss/elements/icons/_font_awesome.scss */
.icon-level-up:before {
  content: "\f148";
}

/* line 361, ../scss/elements/icons/_font_awesome.scss */
.icon-level-down:before {
  content: "\f149";
}

/* line 362, ../scss/elements/icons/_font_awesome.scss */
.icon-check-sign:before {
  content: "\f14a";
}

/* line 363, ../scss/elements/icons/_font_awesome.scss */
.icon-edit-sign:before {
  content: "\f14b";
}

/* line 364, ../scss/elements/icons/_font_awesome.scss */
.icon-external-link-sign:before {
  content: "\f14c";
}

/* line 365, ../scss/elements/icons/_font_awesome.scss */
.icon-share-sign:before {
  content: "\f14d";
}

/* 
* BREADCRUMBS
*
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
/* line 8, ../scss/elements/components/_breadcrumbs.scss */
.crumbs {
  overflow: hidden;
}
/* line 10, ../scss/elements/components/_breadcrumbs.scss */
.crumbs li {
  display: inline-block;
}

/* 
* FEATURE BLOCKS
*
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
/* line 12, ../scss/elements/components/_feature_block.scss */
.feature.with-image.horizontal {
  overflow: hidden;
}
/* line 14, ../scss/elements/components/_feature_block.scss */
.feature.with-image.horizontal .feature-image {
  margin-right: 1em;
  float: left;
}
/* line 20, ../scss/elements/components/_feature_block.scss */
.feature .feature-content {
  padding: 1em;
}

/* 
* PROJECT
* 
* ONION by Grey Hargreaves
* www.greysadventures.com
*/
/* line 22, ../scss/project/_project.scss */
html {
  min-height: 100%;
  background-color: #fff;
}

/* line 27, ../scss/project/_project.scss */
body {
  color: #323232;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300;
}

/* line 33, ../scss/project/_project.scss */
input, button, textarea, select {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300;
}

/* line 38, ../scss/project/_project.scss */
a {
  color: #e02436;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
/* line 41, ../scss/project/_project.scss */
a:visited {
  color: #777777;
}
/* line 45, ../scss/project/_project.scss */
a:hover, a:focus {
  color: #c22232;
}

/* line 50, ../scss/project/_project.scss */
abbr {
  border-bottom: 1px dotted #777777;
  cursor: help;
}

/* line 57, ../scss/project/_project.scss */
.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 480px) {
  /* line 65, ../scss/project/_project.scss */
  .container {
    width: 420px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 73, ../scss/project/_project.scss */
  .container {
    width: 748px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 81, ../scss/project/_project.scss */
  .container {
    width: 940px;
  }
}
/* line 89, ../scss/project/_project.scss */
#header {
  padding: 2em 0 3em;
  overflow: hidden;
}

/* line 96, ../scss/project/_project.scss */
#footer {
  padding: 3em 0 2em;
  overflow: hidden;
}

/* line 105, ../scss/project/_project.scss */
.btn {
  display: inline-block;
  margin-right: 10px;
  padding: 12px 15px 0 10px;
  position: relative;
  border: none;
  color: #fff;
  background-color: #e02436;
  text-decoration: none;
  white-space: nowrap;
}
/* line 115, ../scss/project/_project.scss */
.btn i {
  margin-right: -0.2em;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 1.6em;
  text-decoration: none;
}
/* line 124, ../scss/project/_project.scss */
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  border-left: 10px solid #e02436;
  border-bottom: 10px solid transparent;
}
/* line 133, ../scss/project/_project.scss */
.btn:visited {
  color: #fff;
}
/* line 137, ../scss/project/_project.scss */
.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: underline;
}
/* line 141, ../scss/project/_project.scss */
.btn.invert {
  color: #e02436;
  background-color: #323232;
}
/* line 144, ../scss/project/_project.scss */
.btn.invert:after {
  border-left-color: #323232;
}

/* line 150, ../scss/project/_project.scss */
.branding {
  width: 160px;
  float: left;
}
/* line 153, ../scss/project/_project.scss */
.branding a {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/wp-content/themes/BB1A/assets/img/logo.png?1368284071');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 160px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 153, ../scss/project/_project.scss */
  .branding a {
    background-image: url('/wp-content/themes/BB1A/assets/img/logo@2x.png?1368284094');
  }
}

/* line 165, ../scss/project/_project.scss */
.primary-navigation {
  width: 129px;
  height: 160px;
  margin-left: 10px;
  float: left;
  border-left: 1px solid #dfdfdf;
}
/* line 171, ../scss/project/_project.scss */
.primary-navigation ul {
  padding: 16px 0;
}
/* line 174, ../scss/project/_project.scss */
.primary-navigation a {
  display: block;
  padding: 5px 10px;
  color: #777777;
  text-decoration: none;
  line-height: 22px;
}
/* line 182, ../scss/project/_project.scss */
.primary-navigation a:hover, .primary-navigation a:focus, .primary-navigation a.current {
  color: #323232;
  background-color: #dfdfdf;
}

/* line 191, ../scss/project/_project.scss */
.secondary-navigation {
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
/* line 194, ../scss/project/_project.scss */
.secondary-navigation ul {
  overflow: hidden;
}
/* line 197, ../scss/project/_project.scss */
.secondary-navigation li {
  display: block;
  float: left;
}
/* line 200, ../scss/project/_project.scss */
.secondary-navigation li:after {
  content: "/";
  margin: 0 0.5em;
}
/* line 204, ../scss/project/_project.scss */
.secondary-navigation li:last-child:after {
  content: "";
}
/* line 208, ../scss/project/_project.scss */
.secondary-navigation a {
  color: #777777;
  white-space: nowrap;
}
/* line 212, ../scss/project/_project.scss */
.secondary-navigation a:hover, .secondary-navigation a:focus {
  color: #323232;
}

/* line 220, ../scss/project/_project.scss */
.social-links {
  display: none;
  float: right;
}
/* line 223, ../scss/project/_project.scss */
.social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 228, ../scss/project/_project.scss */
.social-links li {
  display: inline-block;
  margin-left: 2px;
}
/* line 232, ../scss/project/_project.scss */
.social-links a {
  display: block;
  width: 1.2em;
  padding: .2em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  background-color: #dfdfdf;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  line-height: 1.2em;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
/* line 245, ../scss/project/_project.scss */
.social-links a:hover, .social-links a:focus {
  background-color: #e02436;
}

@media only screen and (min-width: 768px) {
  /* line 253, ../scss/project/_project.scss */
  .social-links {
    display: block;
  }
}
/* line 261, ../scss/project/_project.scss */
.feature-image {
  width: 100%;
  max-width: 1250px;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 480px) {
  /* line 274, ../scss/project/_project.scss */
  .feature-image {
    height: 8em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 282, ../scss/project/_project.scss */
  .feature-image {
    height: 12em;
  }
}
@media only screen and (min-width: 960px) {
  /* line 290, ../scss/project/_project.scss */
  .feature-image {
    height: 16em;
  }
}
/* line 298, ../scss/project/_project.scss */
.boilerplate {
  color: #777777;
}

/* line 304, ../scss/project/_project.scss */
.post {
  margin-bottom: 2em;
}
/* line 307, ../scss/project/_project.scss */
.post .post-header .post-leader {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: #fff;
  background-color: #e02436;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 317, ../scss/project/_project.scss */
.post .post-header .post-title {
  margin-top: 0.15em;
  font-size: 2.7em;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1em;
}
/* line 324, ../scss/project/_project.scss */
.post .post-header .post-title a {
  color: #323232;
  text-decoration: none;
}
/* line 328, ../scss/project/_project.scss */
.post .post-header .post-title a:hover, .post .post-header .post-title a:focus {
  color: #777777;
}
/* line 334, ../scss/project/_project.scss */
.post .post-body {
  width: 100%;
  max-width: 30em;
  margin-top: 3em;
  line-height: 1.6em;
}
/* line 339, ../scss/project/_project.scss */
.post .post-body p, .post .post-body ul, .post .post-body ol, .post .post-body h2 {
  margin-bottom: 20px;
}
/* line 342, ../scss/project/_project.scss */
.post .post-body h2 {
  padding-top: 20px;
  font-size: 1.5em;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 349, ../scss/project/_project.scss */
.post .post-body h4 {
  font-weight: 300;
  font-style: italic;
}
/* line 353, ../scss/project/_project.scss */
.post .post-body ul {
  list-style: none;
}
/* line 355, ../scss/project/_project.scss */
.post .post-body ul li {
  padding-left: 20px;
  position: relative;
}
/* line 358, ../scss/project/_project.scss */
.post .post-body ul li:before {
  content: "\25CF";
  width: 14px;
  position: absolute;
  top: 0;
  left: 0;
  color: #e02436;
  text-align: center;
  line-height: 1.6em;
}
/* line 370, ../scss/project/_project.scss */
.post .post-body ol {
  list-style: decimal;
  margin-left: 20px;
}
/* line 375, ../scss/project/_project.scss */
.post .post-body p:first-child {
  font-size: 1.2em;
  line-height: 1.4em;
}
/* line 381, ../scss/project/_project.scss */
.post .post-card {
  max-width: 30em;
  border: 1px solid #dfdfdf;
}
/* line 384, ../scss/project/_project.scss */
.post .post-card + .post-card {
  margin-top: 20px;
}
/* line 387, ../scss/project/_project.scss */
.post .post-card .post-card-map {
  padding-bottom: 160px;
  border-bottom: 1px solid #dfdfdf;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 393, ../scss/project/_project.scss */
.post .post-card .post-card-details {
  padding: 1em;
}
/* line 395, ../scss/project/_project.scss */
.post .post-card .post-card-details h1 {
  margin-bottom: .5em;
  font-size: 1.4em;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 401, ../scss/project/_project.scss */
.post .post-card .post-card-details h1 a {
  color: #323232;
  text-decoration: none;
}
/* line 406, ../scss/project/_project.scss */
.post .post-card .post-card-details ul {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;
}
/* line 411, ../scss/project/_project.scss */
.post .post-card .post-card-details ul li {
  margin-top: .3em;
  padding-left: 20px;
  position: relative;
}
/* line 415, ../scss/project/_project.scss */
.post .post-card .post-card-details ul li i {
  width: 14px;
  position: absolute;
  top: 0;
  left: 0;
  color: #e02436;
  text-align: center;
  line-height: 1.6em;
}
/* line 430, ../scss/project/_project.scss */
.post.weekly .post-header .post-title {
  font-size: 1.5em;
}

/* line 438, ../scss/project/_project.scss */
.em-booking p {
  margin-bottom: 20px;
}
/* line 442, ../scss/project/_project.scss */
.em-booking .em-booking-form .em-form-row {
  margin-bottom: 10px;
}
/* line 444, ../scss/project/_project.scss */
.em-booking .em-booking-form .em-form-row:last-child {
  margin-bottom: 0;
}
/* line 448, ../scss/project/_project.scss */
.em-booking .em-booking-form .em-booking-buttons {
  text-align: right;
}
/* line 451, ../scss/project/_project.scss */
.em-booking .em-booking-form .em-booking-submit {
  padding: 6px 12px;
  color: #fff;
  background-color: #777777;
  cursor: pointer;
}
/* line 457, ../scss/project/_project.scss */
.em-booking .em-booking-form .em-booking-submit:hover, .em-booking .em-booking-form .em-booking-submit:active {
  background-color: #e02436;
}
/* line 461, ../scss/project/_project.scss */
.em-booking .em-booking-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 470, ../scss/project/_project.scss */
.em-booking .em-booking-form input[type=text],
.em-booking .em-booking-form input[type=email],
.em-booking .em-booking-form textarea,
.em-booking .em-booking-form select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  border: 1px solid #dfdfdf;
  color: inherit;
  background: #fff;
}
/* line 477, ../scss/project/_project.scss */
.em-booking .em-booking-form input[type=text]:focus,
.em-booking .em-booking-form input[type=email]:focus,
.em-booking .em-booking-form textarea:focus,
.em-booking .em-booking-form select:focus {
  border-color: #777777;
}
/* line 481, ../scss/project/_project.scss */
.em-booking .em-booking-form textarea {
  resize: vertical;
}

@media only screen and (min-width: 768px) {
  /* line 491, ../scss/project/_project.scss */
  .post .post-header .post-title {
    font-size: 5em;
  }
  /* line 497, ../scss/project/_project.scss */
  .post .post-body p:first-child {
    font-size: 1.4em;
    line-height: 1.4em;
  }
  /* line 505, ../scss/project/_project.scss */
  .post.weekly .post-header .post-title {
    font-size: 3em;
  }
}
/* line 516, ../scss/project/_project.scss */
.media {
  width: 100%;
}
/* line 519, ../scss/project/_project.scss */
.media .media-meet {
  display: none;
  padding: 0.6em 1em;
  border-bottom: 1px solid #dfdfdf;
}
/* line 523, ../scss/project/_project.scss */
.media .media-meet h1 {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 527, ../scss/project/_project.scss */
.media .media-meet h1 a {
  color: #e02436;
  text-decoration: none;
}
/* line 533, ../scss/project/_project.scss */
.media .media-item {
  font-size: 0;
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  /* line 549, ../scss/project/_project.scss */
  .media {
    width: 50%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 557, ../scss/project/_project.scss */
  .media {
    width: 25%;
  }

  /* line 561, ../scss/project/_project.scss */
  .media.video {
    width: 50%;
  }
}
/* line 569, ../scss/project/_project.scss */
.page-id-2 {
  background-color: #323232;
  background-image: url('/wp-content/themes/BB1A/assets/img/overlay.png?1368291658'), url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/943100_514647065261362_1846980143_n.jpg");
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-scroll: fixed, fixed;
  -webkit-background-size: auto auto, cover;
  -moz-background-size: auto auto, cover;
  -o-background-size: auto auto, cover;
  background-size: auto auto, cover;
}
/* line 576, ../scss/project/_project.scss */
.page-id-2 .primary-navigation {
  border-color: #777777;
}
/* line 578, ../scss/project/_project.scss */
.page-id-2 .primary-navigation a {
  color: #fff;
}
/* line 581, ../scss/project/_project.scss */
.page-id-2 .primary-navigation a:hover, .page-id-2 .primary-navigation a:focus {
  background-color: #777777;
}
/* line 587, ../scss/project/_project.scss */
.page-id-2 .social-links a {
  background-color: #e02436;
}
/* line 591, ../scss/project/_project.scss */
.page-id-2 #main {
  padding: 4em 0 12em;
}
/* line 596, ../scss/project/_project.scss */
.page-id-2 .post .post-title a {
  color: #dfdfdf;
}
/* line 599, ../scss/project/_project.scss */
.page-id-2 .post .post-title a:hover, .page-id-2 .post .post-title a:focus {
  color: #fff;
}
/* line 605, ../scss/project/_project.scss */
.page-id-2 .secondary-navigation {
  color: #fff;
}
/* line 607, ../scss/project/_project.scss */
.page-id-2 .secondary-navigation a {
  color: #fff;
}
/* line 611, ../scss/project/_project.scss */
.page-id-2 .boilerplate {
  color: #fff;
}

@media only screen and (min-height: 600px) {
  /* line 619, ../scss/project/_project.scss */
  .page-id-2 #main {
    min-height: 18em;
    padding: 8em 0 18em;
  }
}
/* line 630, ../scss/project/_project.scss */
.meets-section .meets-section-header {
  margin-bottom: 1em;
  padding: 3px;
  border-bottom: 1px solid #dfdfdf;
  color: #777777;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 640, ../scss/project/_project.scss */
.meets-section.meets-section-past .post .post-title {
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  /* line 651, ../scss/project/_project.scss */
  .meets-section.meets-section-past .post {
    width: 48%;
    margin-left: 4%;
    float: left;
  }
  /* line 655, ../scss/project/_project.scss */
  .meets-section.meets-section-past .post:nth-child(2n) {
    margin-left: 0;
    clear: left;
  }
  /* line 659, ../scss/project/_project.scss */
  .meets-section.meets-section-past .post .post-title {
    font-size: 2.5em;
  }
}
/* line 671, ../scss/project/_project.scss */
.post-type-archive-community .media-grid {
  margin-top: 2em;
  margin-bottom: 4em;
}
/* line 674, ../scss/project/_project.scss */
.post-type-archive-community .media-grid img {
  -webkit-filter: grayscale(100%) opacity(80%);
  -webkit-transition: -webkit-filter 0.1s ease-in-out;
}
/* line 677, ../scss/project/_project.scss */
.post-type-archive-community .media-grid img:hover {
  -webkit-filter: grayscale(0) opacity(100%);
}

/* line 685, ../scss/project/_project.scss */
html.js .media-grid {
  display: none;
}

/* line 693, ../scss/project/_project.scss */
.error404 .feature-image {
  background-color: #c6d2e1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 572px 389px;
}
/* line 699, ../scss/project/_project.scss */
.error404 .post {
  text-align: center;
}
/* line 701, ../scss/project/_project.scss */
.error404 .post .post-body {
  margin-left: auto;
  margin-right: auto;
}
