/* 
* FEATURE BLOCKS
*
* ONION by Grey Hargreaves
* www.greysadventures.com
*/

.feature {
  &.with-image {
    .feature-image {
    }
    &.horizontal {
      overflow: hidden;
      .feature-image {
        margin-right: 1em;
        float: left;
      }
    }
  }
  .feature-content {
    padding: 1em;
  }
}