/**
 * sections->about
 */

body.page-id-18 {
  .about-meets {
    .about-meets__item {
      @include column(12, 6);
    }
  }
  .bb-badge {
    width: 150px;
    margin: rem-calc(0 0 $rem-base $rem-base);
    float: right;
  }
}