/**
 * patterns->pagination
 */

.pagination {
  ul {
    @extend .clearfix;
    margin: 0;
    padding: 0;
    list-item: 0;
  }
  li {
    display: block;
    width: 10%;
    float: left;
  }
  a {
    display: block;
    padding: rem-calc($rem-base/2 $rem-base/2 (($rem-base/2)-4px) $rem-base/2);
    border-bottom: 4px solid palette(grey, x-light);
    font-family: $title-font;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    &:hover,
    &:focus,
    &.current {
      border-bottom-color: palette(red);
    }
    &.current {
      color: palette(white);
      background-color: palette(red);
    }
  }
}