/**
 * pattern->search-result
 */

.results {
  position: fixed;
  top: $masthead-height;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: palette(grey, x-light);
  overflow: auto;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .results__item {
    @extend .row;
    @include pad-this();
    margin-bottom: rem-calc($rem-base);
    .results__content {
      max-width: 35em;
      .results__title {
        a {
          text-decoration: none;
        }
      }
      .results__text,
      .results__url {
        margin: 0;
        font-size: smaller;
      }
      .results__url {
        color: palette(grey, light);
      }
    }
  }
}