.breakpoint-meter {
  display: block;
  padding: .2em .5em;
  background: yellow;
  color: black;
  font-size: 12px;
  div {
    display: none;
  }
  .mobile {
    display: inline;
  }
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

html {
  background-color: #f8f8f8;
  font-size : 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: lighten($base-color, 75%);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: transparent;
  font-size: 1.6em;
  font-family: $base-font;
  font-weight: 300;
  text-rendering: optimizeLegibility; 
  line-height: $baseline-height;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1"; 
  -ms-font-feature-settings: "liga", "dlig"; 
  -o-font-feature-settings: "liga", "dlig";  
  font-feature-settings: "liga", "dlig"; 
}

img, video, audio {
  max-width: 100%; 
  height: auto;
}

a {
  color: $base-color;
  img {
    border: none;
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: $baseline-height 0;
  border-top: 1px solid $border-color;
  color: transparent;
  background: none;
}

// GRID

.container {
  max-width: 60em;
  margin: 0 auto;
}

// TYPOGRAPHY

.hero {
  font-size: 2.2em;
  line-height: 1.2em;
}

h3 {
  color: $detail-color;
  font-weight: bold;
}

// TOP - BODY - BOTTOM

.global-header {
  background-color: $base-color;
  .container {
    padding: .5em 1em;
    position: relative;
  }
}

.global-main {
  .global-content {
    padding: 1em;
    background-color: #fff;
  }
}

.global-footer {
  .container {
    padding: 1em;
  }
}

// BRANDING

.branding {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 1em;
  a {
    display: block;
    @include replace-text-with-dimensions("logo-small.png");
    @include transition(width .3s ease-in-out, height .3s ease-in-out, margin-left .3s ease-in-out);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: image-url("logo@2x.png");
      @include background-size(100% 100%);
    }
  }
}

// GLOBAL NAVIGATION

.global-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: #fff;
    @include hover-link;
  }
}

// THE BIG PICTURE

.the-big-picture {
  img {
    display: block;
    margin: 0 auto;
  }
}

// TICKER

.ticker {
  padding: 1em;
  position: relative;
  color: $base-contrast-color;
  background-color: $base-color;
  font-family: $header-font;
  line-height: 1.2em;
  @include single-transition(margin-top, .3s, ease-in-out);
  a {
    color: #fff;
    @include hover-link;
  }
}

// SECONDARY NAVIGATION

.secondary-navigation {
  color: $detail-color;
  font-size: .8em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    &:after {
      content: " |";
    }
    &:last-child:after {
      content: "";
    }
  }
  a {
    color: $detail-color;
  }
}

// BOILERPLATE 

.boilerplate {
  color: $detail-color;
  a {
    color: $detail-color;
  }
}

// HOMEPAGE BLURB

.homepage-blurb {
  margin-bottom: $baseline-height;
  color: $detail-color;
}

// HOMEPAGE BOXES 

.module-group {
  .module {
    margin-bottom: 1em;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      line-height: 0;
      &:hover,
      &:focus {
        strong {
          text-decoration: underline;
        }
      }
    }
    img {
    }
    .caption {
      padding: .5em;
      line-height: $baseline-height;
    }
    strong {
      display: block;
      @extend h3;
      color: #fff;
    }
  }
}

.module-twitter {
  background-color: #33bcef;
}

.module-facebook {
  background-color: #3b5998;
}

.module-badges {
  background-color: $base-color;
}