.breakpoint-meter {
  .tablet {
    display: inline;
  }
}

// GRID

.row {
  @include clearfix;
  .one-third,
  .two-thirds {
    float: left;
    margin-right: 2%;
    &:last-child {
      margin-right: 0;
    }
  }
  .one-third {
    width: 32%;
  }
  .two-thirds {
    width: 66%;
  }
}

// TYPOGRAPHY

.hero {
  font-size: 3.6em;
}

// BRANDING

.branding {
  position: absolute;
  left: 50%;
  margin-left: -60px;
}

// GLOBAL NAVIGATION

.global-navigation {
  ul {
    @include clearfix;
  }
  li {
    display: block;
    width: 20%;
    float: left;
    &:nth-child(2) {
      margin-right: 20%;
    }
  }
  a {
    display: block;
    padding: 1em;
    text-align: center;
  }
}

// HOMEPAGE BOXES 

.module-group {
  .module {
    margin-bottom: 0;
  }
}