/* 
* COMMON
*
* ONION by Grey Hargreaves
* www.greysadventures.com
*/

@-webkit-viewport { width: device-width; }
   @-moz-viewport { width: device-width; }
    @-ms-viewport { width: device-width; }
     @-o-viewport { width: device-width; }
        @viewport { width: device-width; }

html {
  position: relative;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #fc0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

input, button, textarea, select {
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  background-color: transparent;
  font-size: 1.6em;
}

.chromeframe {
  padding: 3px;
  color: black;
  background: yellow;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  a {
    color: black;
  }
}

nav {
  ul, ol {
    list-style: none;
  }
}

img, audio, video, picture {
  max-width: 100%;
}

iframe {}

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}

a img {
  border: 0;
}

small {
  font-size: 80%;
}

.clear {
  display: none;
  clear: both;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}