/**
 * patterns->billboard
 */

.billboard {
  position: relative;
  overflow: hidden;
  &__media {
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  &__caption {
    padding: rem-calc($rem-base);
    color: palette(grey, x-dark);
    background-color: palette(white);
    font-family: $body-font;
    font-size: rem-calc(15px);
    line-height: 1.5;
    @media #{$medium-up} {
      max-width: 83.3333%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    p {
      margin: 0;
    }
  }
  &__title {
    margin-bottom: rem-calc($rem-base/4);
    padding-bottom: rem-calc($rem-base/4);
    border-bottom: 4px solid palette(red);
    font-size: larger;
    a {
      @extend %title-event;
      display: block;
      color: palette(grey, x-dark);
      text-decoration: none;
      &:hover,
      &:focus {
        color: palette(red);
      }
    }
  }
  &--inline {
    @include column(12, 12, 6);
    @include pad-this(0);
  }
}