/**
 * patterns->billboard
 */

.billboard {
  position: relative;
  overflow: hidden;
  .billboard__media {
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  .billboard__caption {
    padding: rem-calc($rem-base);
    color: palette(white);
    background-color: palette(grey, x-dark);
    font-size: smaller;
    line-height: 1.5;
    @media #{$medium-up} {
      max-width: 80%;
      position: absolute;
      bottom: 5%;
      left: 0;
      background-color: rgba(palette(black), 0.85);
    }
    p {
      margin: 0;
    }
  }
  .billboard__title {
    font-size: larger;
    a {
      @extend %title-event;
      border-bottom: 2px solid palette(red);
      color: palette(white);
      text-decoration: none;
      &:hover,
      &:focus {
        color: palette(red);
      }
    }
  }
  &.billboard--inline {
    @include column(12, 12, 6);
    @include pad-this(0);
  }
}