/**
 * patterns->breadcrumbs
 */

.breadcrumbs {
  @include column(12);
  font-size: small;
  a {
    color: palette(grey);
    text-decoration: none;
    &:hover,
    &:focus {
      color: palette(grey, dark);
    }
  }
  .sep {
    margin: rem-calc(0 $rem-base/2);
    color: palette(grey, light);
  }
}