/** 
 * patterns->comments
 */

.comments {
	@include column(12, 10, 6);
  margin-top: rem-calc($rem-base*4);
  font-family: $detail-font;
  @media #{$medium-up} { 
    @include push(1);
    @include pull(1);
  }
  @media #{$large-up} { 
    @include push(3);
    @include pull(3);
  }
  &__title {
    @extend %title-page-subtitle;
    padding-bottom: rem-calc($rem-base/2);
    border-bottom: 4px solid palette(grey, x-light);
    small {
      font-size: 100%;
      color: palette(grey, light);
      &::before {
        content: "\00BB";
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.comment {
  margin-top: rem-calc($rem-base/2);
  margin-bottom: rem-calc($rem-base);
  &__meta {
    @extend %title-comment;
    overflow: hidden;
    line-height: 34px;
    @media #{$medium-up} {
      margin-left: -44px;
    }
    a {
      color: palette(grey, light);
      text-decoration: none;
      &:hover,
      &:focus {
        color: palette(grey);
      }
    }
  }
  .avatar {
    margin-right: 10px;
    float: left;
  }
  &__body {
    margin-left: 44px;
    font-size: 14px;
    @media #{$medium-up} {
      margin-left: 0;
      font-size: 16px;
    }
    p, ul, ol, dl {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.comment-form {
  margin-top: rem-calc($rem-base*2);
  padding-bottom: rem-calc($rem-base);
  background-color: palette(grey, xx-light);
  overflow: hidden;
  p {
    margin-top: 0;
  }
  &__author,
  &__email {
    @include column(12, 6);
  }
  h2,
  &__comment,
  &__submit {
    @include column(12);
  }
  &__submit {
    text-align: right;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: rem-calc($rem-base/2);
    border: none;
    background-color: palette(white);
    &:focus {
      outline: 1px solid palette(grey, light);
    }
  }
  textarea {
    resize: vertical;
  }
  h2 {
    height: 0.8em;
    margin-bottom: rem-calc($rem-base);
    border-bottom: 4px solid palette(grey, x-light);
    color: palette(grey);
    background-color: palette(white);
    font-size: rem-calc(32px);
    font-style: italic;
    overflow: hidden;
  }
}