/**
 * patterns->forecast
 */

$fi-size: 80;

.forecast {
  padding: rem-calc($rem-base);
  overflow: hidden;
  &__icon {
    margin-top: rem-calc(0-$rem-base);
    margin-bottom: rem-calc(0-$rem-base);
    width: rem-calc($fi-size);
    position: relative;
    float: right;
    .fi {
      position: absolute;
      top: 0;
      left: 0;
      font-size: rem-calc($fi-size);
      line-height: rem-calc($fi-size);
    }
  }
  &__data {
    p {
      margin: 0;
    }
  }
  &__temperature {

  }
}