/** 
 * patterns->meet
 */

.meet {
	margin-top: rem-calc($rem-base);
	&__header,
	&__body,
	&__sidebar {
		@include column(12, 10, 8);
		@media #{$medium-up} {
			@include push(1);
			@include pull(1);
		}
		@media #{$large-up} {
			@include push(2);
			@include pull(2);
		}
	}
	&__title {
		@extend %title-page-large;
	}
	&__meta {
		@extend %title-list;
		margin: 0;
		padding: 0;
		color: palette(grey);
		list-style: none;
		&--outdent {
			@media #{$medium-up} {
				margin-left: -1.5em;
			}
		}
	}
	&__body {
		margin-bottom: rem-calc($rem-base);
		h3 {
			@extend %title-page-section;
		}
		h4 {
			@extend %title-event;
		}
		h5 {
			@extend %title-event-subevent;
		}
	}
}