@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/**
 * reset->reset
 *
 * Grey's CSS Reset v3 (Modified: 14th February 2014)
 * Combining, amongst my own changes, the very best of:
 * HTML5 Doctor's CSS reset (http://html5doctor.com/html-5-reset-stylesheet/)
 * The YUI 2 CSS Reset (http://developer.yahoo.com/yui/reset/)
 * Nicolas Gallagher's Normalize.css (http://necolas.github.com/normalize.css/) 
 * Accessible element hiding by Jonathan Snook (http://snook.ca/archives/html_and_css/hiding-content-for-accessibility) 
 * The best ampersand from Dan Cederholm (http://simplebits.com/notebook/2008/08/14/ampersands-2/)
 * Clearfix from Position Is Everything (http://www.positioniseverything.net/easyclearing.html)
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body,
div, span, article, aside, figure, figcaption, footer, header, group, main, menu, nav, section,
object, embed, iframe, applet, audio, video, img, picture,
h1, h2, h3, h4, h5, h6,
p, blockquote, dl, dt, dd, ol, ul, li,
a, pre, abbr, address, cite, code, del, ins, dfn, em, kbd, q, samp, small, sub, sup, var, b, i, u, s, strong, time, mark, bdi, bdo, ruby, rt, rp,
form, fieldset, legend, label, input, button, select, textarea, keygen, output, progress, meter,
details, summary, command, menu,
table, thead, tbody, tfoot, caption, tr, th, td,
hr {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-style: normal;
  vertical-align: baseline; }

html {
  overflow-y: scroll;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  width: 100%;
  background-color: transparent;
  font-size: 100%;
  line-height: 1; }

article, aside, figure, figcaption, footer, header, hgroup, main, nav, section, details {
  display: block;
  /* IE6-9, FF3 */ }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 0;
  border-top: 1px solid #ccc; }

audio, video, canvas {
  display: inline-block;
  /* IE8-9 */
  *display: inline;
  /* IE6-7, FF3 */
  *zoom: 1;
  /* IE6-7, FF3 */ }

img, picture, svg, audio, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  /* IE7-8 */ }

audio:not([controls]) {
  display: none; }

svg:not(:root) {
  overflow: hidden;
  /* IE9 */ }

figure {
  margin: 0;
  /* IE8-9, S5 */ }

a {
  background: transparent;
  /* IE10 */ }
  a:active, a:hover {
    outline: 0; }
  a:focus {
    outline: thin dotted;
    /* Chrome */ }
  a img {
    border: none;
    /* IE6-9 */ }

strong, b {
  font-weight: bold; }

em, i, dfn {
  font-style: italic; }

ins, u {
  text-decoration: underline; }

del, s {
  text-decoration: line-through; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: smaller; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre, code, kbd, samp, ruby, rt, rb {
  font-size: 1em;
  font-family: monospace; }

mark {
  background-color: #ff9;
  border-bottom: 1px solid #ff0; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

nav ol, nav ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  text-align: left;
  vertical-align: top; }

[hidden],
template {
  display: none;
  /* IE7-9, FF3, S4 */ }

input, button, textarea, select, optgroup {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 0;
  /* OS X */
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  *vertical-align: middle;
  /* IE6-7 */ }

select option {
  border: none; }

input, button {
  line-height: normal;
  /* FF3-4 */ }

button {
  text-transform: none;
  /* Chrome, S5+, IE8+ */
  overflow: visible;
  /* IE8+ */ }

button,
select {
  text-transform: none;
  /* IE8+, FF4+, Opera */
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

optgroup {
  font-weight: bold; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  /* FF4+ */
  border: 0;
  /* FF4+ */ }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  /* iOS */
  *overflow: visible;
  /* IE7 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Chrome */ }

textarea {
  vertical-align: top;
  overflow: auto;
  /* IE6-9 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.635em 0.75em; }

legend {
  padding: 0;
  border: 0; }

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.clearfix:after, .row:after, .header .header__inner:after, .media-grid:after, .pagination ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .clearfix, * html .row, * html .header .header__inner, .header * html .header__inner, * html .media-grid, * html .pagination ul, .pagination * html ul {
  height: 1%;
  /* IE6 */ }
*:first-child + html .clearfix, *:first-child + html .row, *:first-child + html .header .header__inner, .header *:first-child + html .header__inner, *:first-child + html .media-grid, *:first-child + html .pagination ul, .pagination *:first-child + html ul {
  min-height: 1px;
  /* IE7 */ }

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  vertical-align: bottom; }

/**
 * project->functions
 */
/**
 * project->variables
 */
/**
 * project->mixins
 */
/** 
 * components->buttons
 */
.button,
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: none;
  color: white;
  background-color: #959599;
  text-decoration: none;
  line-height: 1.2em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  button:hover,
  button:focus {
    background-color: #7b7b80; }
  .button .fa,
  input[type="submit"] .fa,
  input[type="reset"] .fa,
  button .fa {
    padding-right: 0.25em;
    border-right: 1px solid rgba(255, 255, 255, 0.6); }
  .button.button--small,
  input[type="submit"].button--small,
  input[type="reset"].button--small,
  button.button--small {
    font-size: smaller; }
  .button.button--large,
  input[type="submit"].button--large,
  input[type="reset"].button--large,
  button.button--large {
    font-size: larger; }
  .button.button--xlarge,
  input[type="submit"].button--xlarge,
  input[type="reset"].button--xlarge,
  button.button--xlarge {
    font-size: x-large; }
  .button.button--positive,
  input[type="submit"].button--positive,
  input[type="reset"].button--positive,
  button.button--positive {
    color: white;
    background-color: #00a175; }
    .button.button--positive:hover, .button.button--positive:focus,
    input[type="submit"].button--positive:hover,
    input[type="submit"].button--positive:focus,
    input[type="reset"].button--positive:hover,
    input[type="reset"].button--positive:focus,
    button.button--positive:hover,
    button.button--positive:focus {
      background-color: #006e50; }
  .button.button--negative,
  input[type="submit"].button--negative,
  input[type="reset"].button--negative,
  button.button--negative {
    color: white;
    background-color: #ba1933; }
    .button.button--negative:hover, .button.button--negative:focus,
    input[type="submit"].button--negative:hover,
    input[type="submit"].button--negative:focus,
    input[type="reset"].button--negative:hover,
    input[type="reset"].button--negative:focus,
    button.button--negative:hover,
    button.button--negative:focus {
      background-color: #8d1327; }
  .button.button--rss,
  input[type="submit"].button--rss,
  input[type="reset"].button--rss,
  button.button--rss {
    color: white;
    background-color: #ff6600; }
    .button.button--rss:hover, .button.button--rss:focus,
    input[type="submit"].button--rss:hover,
    input[type="submit"].button--rss:focus,
    input[type="reset"].button--rss:hover,
    input[type="reset"].button--rss:focus,
    button.button--rss:hover,
    button.button--rss:focus {
      background-color: #cc5200; }

/** 
 * components->forecast
 */
@font-face {
  font-family: "forecastfont";
  src: url("/wp-content/themes/bristolian/assets/type/iconvault_forecastfont.eot");
  src: url("/wp-content/themes/bristolian/assets/type/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/bristolian/assets/type/iconvault_forecastfont.woff") format("woff"), url("/wp-content/themes/bristolian/assets/type/iconvault_forecastfont.ttf") format("truetype"), url("/wp-content/themes/bristolian/assets/type/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal; }
.fi:before {
  font-family: "forecastfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }
.fi-basecloud:before {
  content: "\f105"; }
.fi-night:before {
  content: "\f100"; }
.fi-sunny:before {
  content: "\f101"; }
.fi-frosty:before {
  content: "\f102"; }
.fi-windysnow:before {
  content: "\f103"; }
.fi-showers:before {
  content: "\f104"; }
.fi-cloud:before {
  content: "\f106"; }
.fi-rainy:before {
  content: "\f107"; }
.fi-mist:before {
  content: "\f108"; }
.fi-windysnowcloud:before {
  content: "\f109"; }
.fi-drizzle:before {
  content: "\f10a"; }
.fi-snowy:before {
  content: "\f10b"; }
.fi-sleet:before {
  content: "\f10c"; }
.fi-moon:before {
  content: "\f10d"; }
.fi-windyrain:before {
  content: "\f10e"; }
.fi-hail:before {
  content: "\f10f"; }
.fi-sunset:before {
  content: "\f110"; }
.fi-windyraincloud:before {
  content: "\f111"; }
.fi-sunrise:before {
  content: "\f112"; }
.fi-sun:before {
  content: "\f113"; }
.fi-thunder:before {
  content: "\f114"; }
.fi-windy:before {
  content: "\f115"; }
.fi-sun, .fi-sunny {
  color: orange; }
.fi-moon, .fi-night {
  color: #4681c3; }
.fi-basecloud, .fi-cloud, .fi-mist, .fi-windy {
  color: #cccccc; }
.fi-drizzle, .fi-rainy, .fi-showers, .fi-windyrain, .fi-sleet {
  color: #82b2e4; }
.fi-frosty, .fi-snowy {
  color: #85d8f7; }

/**
 * components->grid
 */
.row, .header .header__inner {
  width: 100%;
  max-width: 71.25rem;
  margin-right: auto;
  margin-left: auto; }
  .row.row--skinny, .header .row--skinny.header__inner {
    max-width: 60rem; }
  .row.row--fullwidth, .header .row--fullwidth.header__inner {
    max-width: none; }

/** 
 * components->postcard
 */
.postcard {
  border: 1px solid #e5e5e5; }

/** 
 * components->sidebar
 */
.sidebar {
  margin: 0;
  padding: 0; }

/**
 * components->typography
 */
body {
  color: #101010;
  font-size: 18px;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300; }

strong,
b {
  font-weight: 600; }

h1 + h1,
h1 + h2,
h1 + h3,
h1 + h4,
h2 + h1,
h2 + h2,
h2 + h3,
h2 + h4,
h3 + h1,
h3 + h2,
h3 + h3,
h3 + h4,
h4 + h1,
h4 + h2,
h4 + h3,
h4 + h4 {
  margin-top: 1rem; }

.meet__title, .jumbotron__title, body.error404 .error-404 h1 {
  font-size: 1.777em;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  line-height: 1.2; }
  @media only screen and (min-width: 40.063em) {
    .meet__title, .jumbotron__title, body.error404 .error-404 h1 {
      font-size: 1.999em; } }
  .meet__title small, .jumbotron__title small, body.error404 .error-404 h1 small {
    color: #716e6d;
    font-size: smaller;
    font-weight: 300; }

.meet__title {
  font-size: 1.999em; }
  @media only screen and (min-width: 40.063em) {
    .meet__title {
      font-size: 2.827em; } }

.meet__body h3 {
  font-size: 1.777em;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  line-height: 1.15; }
  @media only screen and (min-width: 40.063em) {
    .meet__body h3 {
      font-size: 1.999em; } }
  .meet__body h3 small {
    color: #716e6d;
    font-size: normal; }

.comments__title, .donate-cta__title {
  color: #716e6d;
  font-size: 1.333em;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: italic; }
  @media only screen and (min-width: 40.063em) {
    .comments__title, .donate-cta__title {
      font-size: 1.414em; } }
  .comments__title small, .donate-cta__title small {
    color: #959599;
    font-size: normal; }

.billboard__title a, .cover__title a, .meet__body h4 {
  font-size: 1.1em;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  line-height: 1.2; }
  @media only screen and (min-width: 40.063em) {
    .billboard__title a, .cover__title a, .meet__body h4 {
      font-size: 1.2em; } }
  .billboard__title a small, .cover__title a small, .meet__body h4 small {
    color: #959599;
    font-size: normal; }

.meet__body h5 {
  color: #716e6d;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  line-height: 1.4; }
  .meet__body h5 small {
    color: #959599;
    font-size: normal; }
  .meet__body h5 + p, .meet__body h5 + ul, .meet__body h5 + ol, .meet__body h5 + dl {
    margin-top: 0.5rem; }

.post__title {
  color: #444444;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 2.6em; }
  @media only screen and (min-width: 40.063em) {
    .post__title {
      font-size: 3.2em; } }
  @media only screen and (min-width: 50.063em) {
    .post__title {
      font-size: 3.6em; } }

.meet__meta, .footer h6 {
  margin-bottom: 0.9375rem;
  font-size: smaller;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

.profile__captain {
  font-size: 1.2em;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2; }
  @media only screen and (min-width: 40.063em) {
    .profile__captain {
      font-size: 1.3; } }
  .profile__captain small {
    color: #716e6d;
    font-size: smaller;
    font-weight: 300; }

.comment__meta {
  color: #959599;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-size: 0.75rem; }
  @media only screen and (min-width: 40.063em) {
    .comment__meta {
      font-size: 0.9375rem; } }

p,
ul,
ol,
dl {
  margin: 1rem 0;
  line-height: 1.5; }
  p:last-child,
  ul:last-child,
  ol:last-child,
  dl:last-child {
    margin-bottom: 0; }

.lede, .jumbotron__caption p {
  font-size: 120%;
  line-height: 1.2; }
  @media only screen and (min-width: 40.063em) {
    .lede, .jumbotron__caption p {
      font-size: 140%; } }

ul,
ol {
  margin: 0.5rem 0;
  padding: 0 0 0 2.1875rem; }

dl dt {
  font-weight: bold; }
dl dd {
  margin-left: 4rem; }

mark {
  background-color: #fedd44; }

code,
keygen,
kbd,
ruby,
samp {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 85%; }

/** 
 * patterns->alerts
 */
.alert {
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  border: 4px solid #101010;
  border-radius: 4px;
  background-color: #fedd44;
  font-weight: 900;
  font-size: 90%;
  text-align: center; }
  .alert::after {
    content: "";
    height: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #101010), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #101010), color-stop(0.75, #101010), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, #101010 25%, transparent 25%, transparent 50%, #101010 50%, #101010 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #101010 25%, transparent 25%, transparent 50%, #101010 50%, #101010 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #101010 25%, transparent 25%, transparent 50%, #101010 50%, #101010 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #101010 25%, transparent 25%, transparent 50%, #101010 50%, #101010 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #101010 25%, transparent 25%, transparent 50%, #101010 50%, #101010 75%, transparent 75%, transparent);
    background-position: center center;
    background-size: 50px 50px; }

/** 
 * patterns->aside
 */
.aside {
  color: #716e6d;
  font-size: small;
  font-style: italic; }
  @media only screen and (min-width: 40.063em) {
    .aside {
      width: 120px; } }
  .aside p, .aside ul, .aside ol dl {
    margin: 0.5em; }
  @media only screen and (min-width: 40.063em) {
    .aside--left {
      padding-right: 1rem;
      float: left;
      clear: left;
      margin-left: -120px;
      text-align: right; } }
  @media only screen and (min-width: 40.063em) {
    .aside--right {
      padding-left: 1rem;
      float: right;
      clear: right;
      margin-right: -120px;
      text-align: left; } }

/**
 * patterns->billboard
 */
.billboard {
  position: relative;
  overflow: hidden; }
  .billboard__media a {
    display: block; }
  .billboard__media img {
    width: 100%; }
  .billboard__caption, .cover__caption {
    padding: 1rem;
    color: #101010;
    background-color: white;
    font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5; }
    @media only screen and (min-width: 40.063em) {
      .billboard__caption, .cover__caption {
        max-width: 83.3333%;
        position: absolute;
        bottom: 0;
        left: 0; } }
    .billboard__caption p, .cover__caption p {
      margin: 0; }
  .billboard__title, .cover__title {
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #e02436;
    font-size: larger; }
    .billboard__title a, .cover__title a {
      display: block;
      color: #101010;
      text-decoration: none; }
      .billboard__title a:hover, .cover__title a:hover, .billboard__title a:focus, .cover__title a:focus {
        color: #e02436; }
  .billboard--inline {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left;
    padding-right: 0;
    padding-left: 0; }
    @media only screen and (min-width: 40.063em) {
      .billboard--inline {
        width: 100%; } }
    @media only screen and (min-width: 50.063em) {
      .billboard--inline {
        width: 50%; } }

/**
 * patterns->breadcrumbs
 */
.breadcrumbs {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  position: relative;
  float: left;
  font-size: small; }
  .breadcrumbs a {
    color: #716e6d;
    text-decoration: none; }
    .breadcrumbs a:hover, .breadcrumbs a:focus {
      color: #444444; }
  .breadcrumbs .sep {
    margin: 0 0.5rem;
    color: #959599; }

/** 
 * patterns->comments
 */
.comments {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  position: relative;
  float: left;
  margin-top: 4rem;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif; }
  @media only screen and (min-width: 40.063em) {
    .comments {
      width: 83.33333%; } }
  @media only screen and (min-width: 50.063em) {
    .comments {
      width: 50%; } }
  @media only screen and (min-width: 40.063em) {
    .comments {
      left: 8.33333%;
      right: 8.33333%; } }
  @media only screen and (min-width: 50.063em) {
    .comments {
      left: 25%;
      right: 25%; } }
  .comments__title {
    padding-bottom: 0.5rem;
    border-bottom: 4px solid #e5e5e5; }
    .comments__title small {
      font-size: 100%;
      color: #959599; }
      .comments__title small::before {
        content: "\00BB"; }
  .comments__list {
    margin: 0;
    padding: 0;
    list-style: none; }

.comment {
  margin-top: 0.5rem;
  margin-bottom: 1rem; }
  .comment__meta {
    overflow: hidden;
    line-height: 34px; }
    @media only screen and (min-width: 40.063em) {
      .comment__meta {
        margin-left: -44px; } }
    .comment__meta a {
      color: #959599;
      text-decoration: none; }
      .comment__meta a:hover, .comment__meta a:focus {
        color: #716e6d; }
  .comment .avatar {
    margin-right: 10px;
    float: left; }
  .comment__body {
    margin-left: 44px;
    font-size: 14px; }
    @media only screen and (min-width: 40.063em) {
      .comment__body {
        margin-left: 0;
        font-size: 16px; } }
    .comment__body p:first-child, .comment__body ul:first-child, .comment__body ol:first-child, .comment__body dl:first-child {
      margin-top: 0; }

.comment-form {
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
  overflow: hidden; }
  .comment-form p {
    margin-top: 0; }
  .comment-form__author, .comment-form__email {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .comment-form__author, .comment-form__email {
        width: 50%; } }
  .comment-form h2, .comment-form__comment, .comment-form__submit {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
  .comment-form__submit {
    text-align: right; }
  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: white; }
    .comment-form input[type="text"]:focus,
    .comment-form input[type="email"]:focus,
    .comment-form textarea:focus {
      outline: 1px solid #959599; }
  .comment-form textarea {
    resize: vertical; }
  .comment-form h2 {
    height: 0.8em;
    margin-bottom: 1rem;
    border-bottom: 4px solid #e5e5e5;
    color: #716e6d;
    background-color: white;
    font-size: 2rem;
    font-style: italic;
    overflow: hidden; }

/**
 * patterns->cover
 */
.cover {
  height: 460px;
  height: 100vh;
  position: relative;
  background-color: #fafafa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 40.063em) {
    .cover {
      height: 700px;
      height: 100vh; } }
  .cover__caption {
    position: absolute;
    bottom: 0;
    left: 0; }

/**
 * patterns->donate-cta
 */
.donate-cta {
  padding: 2rem;
  color: white;
  background-color: #930916;
  font-size: smaller; }
  .donate-cta a {
    color: white; }
  .donate-cta__title {
    color: white; }
  .donate-cta__blurb {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .donate-cta__blurb {
        width: 50%; } }
  .donate-cta__info {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ba1933; }
    @media only screen and (min-width: 40.063em) {
      .donate-cta__info {
        width: 50%; } }
    @media only screen and (min-width: 40.063em) {
      .donate-cta__info {
        margin-top: 0;
        margin-bottom: -3rem;
        top: -3rem; } }
  .donate-cta__button {
    display: block; }

/** 
 * patterns->figure
 */
.figure {
  margin: 1rem 0;
  position: relative; }
  .figure__caption {
    margin-top: 0.5rem;
    color: #716e6d;
    font-size: small;
    font-style: italic; }
    @media only screen and (min-width: 40.063em) {
      .figure__caption {
        width: 120px;
        padding-right: 1rem;
        position: absolute;
        bottom: 0;
        right: 100%;
        text-align: right; } }
  .figure blockquote,
  .figure img,
  .figure iframe {
    width: 100%; }
  .figure blockquote {
    font-size: 1.2em;
    font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 1.2; }

/**
 * patterns->forecast
 */
.forecast {
  padding: 1rem;
  overflow: hidden; }
  .forecast__icon {
    margin-top: -1rem;
    margin-bottom: -1rem;
    width: 5rem;
    position: relative;
    float: right; }
    .forecast__icon .fi {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 5rem;
      line-height: 5rem; }
  .forecast__data p {
    margin: 0; }

/** 
 * patterns->jumbotron
 */
.jumbotron {
  height: 10rem;
  position: relative;
  color: white;
  background-position: center center;
  background-size: cover;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  overflow: hidden; }
  .jumbotron a {
    color: white; }
  .jumbotron__inner {
    height: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65); }
  .jumbotron__title {
    position: relative;
    z-index: 2;
    text-transform: uppercase; }
  .jumbotron__caption {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .jumbotron__caption p {
      margin: 0; }
  @media only screen and (min-width: 40.063em) {
    .jumbotron--large {
      height: 20rem; } }
  .jumbotron--xlarge {
    height: 20rem; }
    @media only screen and (min-width: 40.063em) {
      .jumbotron--xlarge {
        height: 30rem; } }

/**
 * patterns->media-grid
 */
.media-grid__item {
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 40.063em) {
    .media-grid__item {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 50.063em) {
    .media-grid__item {
      width: 33.33333%; } }
  @media only screen and (min-width: 90.063em) {
    .media-grid__item {
      width: 25%; } }
  @media only screen and (min-width: 120.063em) {
    .media-grid__item {
      width: 20%; } }
  .media-grid__item--text {
    color: white;
    background-color: #101010; }
    .media-grid__item--text a {
      display: block;
      padding: 1rem;
      color: white; }
  .media-grid__item--staff {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .media-grid__item img {
    width: 100%;
    height: auto; }
  .media-grid__item a {
    text-decoration: none; }
    .media-grid__item a:hover, .media-grid__item a:focus {
      color: #ba1933; }
.media-grid__meta {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }
  .media-grid__meta:hover, .media-grid__meta:focus {
    color: #e02436; }

/** 
 * patterns->meet
 */
.meet {
  margin-top: 1rem; }
  .meet__header, .meet__body, .meet__sidebar {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .meet__header, .meet__body, .meet__sidebar {
        width: 83.33333%; } }
    @media only screen and (min-width: 50.063em) {
      .meet__header, .meet__body, .meet__sidebar {
        width: 66.66667%; } }
    @media only screen and (min-width: 40.063em) {
      .meet__header, .meet__body, .meet__sidebar {
        left: 8.33333%;
        right: 8.33333%; } }
    @media only screen and (min-width: 50.063em) {
      .meet__header, .meet__body, .meet__sidebar {
        left: 16.66667%;
        right: 16.66667%; } }
  .meet__meta {
    margin: 0;
    padding: 0;
    color: #716e6d;
    list-style: none; }
    @media only screen and (min-width: 40.063em) {
      .meet__meta--outdent {
        margin-left: -1.5em; } }
  .meet__body {
    margin-bottom: 1rem; }

/**
 * patterns->pagination
 */
.pagination ul {
  margin: 0;
  padding: 0;
  list-item: 0; }
  .pagination ul li {
    display: block;
    width: 10%;
    float: left; }
  .pagination ul .page-numbers {
    display: block;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    border-bottom: 4px solid #e5e5e5;
    font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #e02436; }
    .pagination ul .page-numbers:hover, .pagination ul .page-numbers:focus, .pagination ul .page-numbers.current {
      border-bottom-color: #e02436; }
    .pagination ul .page-numbers.current {
      color: white;
      background-color: #e02436; }

/**
 * patterns->post
 */
.post {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  position: relative;
  float: left;
  position: relative;
  margin-top: 4rem;
  padding-bottom: 2rem;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif; }
  @media only screen and (min-width: 40.063em) {
    .post {
      width: 83.33333%; } }
  @media only screen and (min-width: 50.063em) {
    .post {
      width: 66.66667%; } }
  @media only screen and (min-width: 40.063em) {
    .post {
      left: 8.33333%;
      right: 8.33333%; } }
  @media only screen and (min-width: 50.063em) {
    .post {
      left: 16.66667%;
      right: 16.66667%; } }
  .post::after {
    content: "";
    margin-left: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 100%;
    left: 50%;
    background-image: url("/wp-content/themes/bristolian/assets/img/logo-notext.svg");
    background-size: 100% 100%;
    -webkit-filter: grayscale(100%) opacity(0.5); }
  .post a {
    color: #e02436;
    text-decoration: none; }
    .post a:hover, .post a:focus {
      color: #ba1933; }
  .post__title {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid #444444; }
  .post__meta {
    margin: 0;
    padding: 0;
    color: #716e6d;
    font-size: smaller;
    list-style: none; }
    @media only screen and (min-width: 40.063em) {
      .post__meta {
        margin-left: -1.5em; } }
    .post__meta a {
      color: #716e6d;
      text-decoration: none; }
      .post__meta a:hover, .post__meta a:focus {
        text-decoration: underline; }

/**
 * patterns->profile
 */
.profile__header {
  padding: 1rem 1rem 0 1rem;
  position: relative; }
.profile__media {
  margin-bottom: 25px; }
.profile__banner {
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ba1933;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media only screen and (min-width: 40.063em) {
    .profile__banner {
      height: 140px; } }
  .profile__banner img {
    width: 100%; }
.profile__avatar {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
  padding: 4px;
  border: 1px solid #e5e5e5;
  background-color: white; }
  @media only screen and (min-width: 40.063em) {
    .profile__avatar {
      width: 140px;
      height: 140px; } }
.profile__captain {
  display: inline; }
.profile__social-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media only screen and (min-width: 40.063em) {
    .profile__social-links {
      display: inline;
      margin-left: 1rem; } }
  .profile__social-links li {
    display: inline; }
  .profile__social-links a {
    color: #716e6d;
    text-decoration: none; }
    .profile__social-links a:hover, .profile__social-links a:focus {
      color: #444444; }
.profile__biography {
  padding: 0 1rem 1rem; }
  .profile__biography p {
    margin: 0; }
  .profile__biography a {
    color: #e02436; }
    .profile__biography a:hover, .profile__biography a:focus {
      color: #ba1933; }

.profile-grid__item {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0 8px; }
  @media only screen and (min-width: 40.063em) {
    .profile-grid__item {
      width: 50%; } }
  .profile-grid__item:nth-child(odd) {
    float: left;
    clear: left; }
  .profile-grid__item:nth-child(even) {
    float: right;
    clear: right; }

/**
 * site->global
 */
html {
  background-color: #101010;
  overflow-x: hidden; }

body {
  position: relative;
  left: 0; }
  @media only screen and (max-width: 40em) {
    body {
      -webkit-transition: left 0.3s ease;
      -moz-transition: left 0.3s ease;
      transition: left 0.3s ease; }
      body.js-navigation-open {
        left: 200px; } }

.browser-warning {
  padding: 6px;
  background-color: #fedd44;
  text-align: center; }
  .browser-warning a {
    color: inherit; }

.guns-dont-kill-people {
  background-color: white; }

.main {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 40.063em) {
    .main {
      margin-top: 1rem; } }

/**
 * site->masthead
 */
@media only screen and (max-width: 40em) {
  .header {
    background-color: #ba1933;
    font-size: larger; } }
@media only screen and (min-width: 40.063em) {
  .header {
    border-top: 4px solid #e5e5e5;
    background-color: white; } }
@media only screen and (min-width: 40.063em) {
  .header .header__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }
.header .branding {
  text-align: right; }
  @media only screen and (min-width: 40.063em) {
    .header .branding {
      float: left; } }
  @media only screen and (max-width: 40em) {
    .header .branding a {
      display: block;
      padding: 6px;
      float: right;
      color: white;
      font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap; } }
  @media only screen and (min-width: 40.063em) {
    .header .branding a {
      display: block;
      margin-right: 16px;
      width: 50px;
      height: 50px;
      background-image: url("/wp-content/themes/bristolian/assets/img/logo.png");
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90% 90%; }
      html.svg .header .branding a {
        background-image: url("/wp-content/themes/bristolian/assets/img/logo-notext.svg"); } }
.header .navigation-toggle {
  display: block;
  padding: 6px;
  float: left;
  color: white; }
  @media only screen and (min-width: 40.063em) {
    .header .navigation-toggle {
      display: none; } }
  body.js-navigation-open .header .navigation-toggle {
    color: #930916; }
.header .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.header .navigation a {
  display: block;
  font-size: small;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }
  .header .navigation a .fa-money {
    color: #00a175; }
@media only screen and (max-width: 40em) {
  .header .navigation {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    border-left: 4px solid #716e6d;
    background-color: #444444; }
    .header .navigation a {
      padding: 1rem 0.5rem; }
      .header .navigation a:hover, .header .navigation a:focus {
        margin-left: -4px;
        border-left: 4px solid #e02436; }
    .header .navigation .navigation__primary a {
      color: white; }
    .header .navigation .navigation__secondary a {
      color: #959599; } }
@media only screen and (min-width: 40.063em) {
  .header .navigation li {
    display: inline-block;
    float: left; }
    .header .navigation li.current-menu-item a, body.single-meet .header .navigation li.menu-item-70 a, body.single-news .header .navigation li.menu-item-180 a, body.single-community .header .navigation li.menu-item-212 a, body.search-results .header .navigation li.menu-item-24 a {
      margin-top: -4px;
      border-top: 4px solid #e02436; }
  .header .navigation a {
    padding: 16.66667px 8px;
    color: #101010;
    line-height: 16.66667px; } }
  @media only screen and (min-width: 40.063em) and (min-width: 50.063em) {
    .header .navigation a {
      padding-right: 16px;
      padding-left: 16px; } }
@media only screen and (min-width: 40.063em) {
    .header .navigation a:hover, .header .navigation a:focus {
      margin-top: -4px;
      border-top: 4px solid #e02436; }
  .header .navigation .navigation__primary {
    float: left; }
  .header .navigation .navigation__secondary {
    float: right; } }

/**
 * site->footer
 */
.footer {
  color: #e5e5e5;
  background-color: #444444;
  font-size: 90%; }
  .footer h6 {
    margin-top: 2rem; }
  .footer a {
    color: #959599;
    text-decoration: none; }
    .footer a:hover, .footer a:focus {
      color: white; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .footer .footer__breadcrumbs {
    margin-top: 2rem; }
  .footer .footer-links .footer-links__group {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .footer .footer-links .footer-links__group {
        width: 33.33333%; } }
    @media only screen and (min-width: 50.063em) {
      .footer .footer-links .footer-links__group {
        width: 25%; } }
    .footer .footer-links .footer-links__group.footer-links__group--site h6 {
      width: 86px;
      height: 86px;
      background-image: url("/wp-content/themes/bristolian/assets/img/logo.png");
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-size: 86px 86px;
      -webkit-filter: grayscale(100%) opacity(90%); }
    .footer .footer-links .footer-links__group.footer-links__group--affiliates li {
      display: inline-block;
      width: 80px;
      margin: 0 0.25rem 0.25rem 0; }
    .footer .footer-links .footer-links__group.footer-links__group--affiliates a {
      -webkit-filter: grayscale(100%) opacity(50%); }
      .footer .footer-links .footer-links__group.footer-links__group--affiliates a:hover, .footer .footer-links .footer-links__group.footer-links__group--affiliates a:focus {
        -webkit-filter: grayscale(0) opacity(100%); }
  .footer .boilerplate {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #101010; }
    .footer .boilerplate p {
      margin: 0;
      width: 100%;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      position: relative;
      float: left; }

/** 
 * sections->home
 */
body.home .main {
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (min-width: 40.063em) {
    body.home .main {
      margin-bottom: 2rem; } }
body.home .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  @media only screen and (min-width: 40.063em) {
    body.home .header {
      padding-bottom: 4px;
      border-color: black;
      background-color: rgba(0, 0, 0, 0.65); }
      body.home .header .navigation a {
        color: white; } }
@media only screen and (min-width: 50.063em) {
  html.cssvhunit body.home .cover {
    height: 80vh; } }

/**
 * sections->404
 */
body.error404 {
  overflow: hidden; }
  body.error404 * {
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease; }
    body.error404 *:nth-child(2n) {
      -webkit-transition-delay: 0.15s;
      -moz-transition-delay: 0.15s;
      transition-delay: 0.15s; }
    body.error404 *:nth-child(3n) {
      -webkit-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      transition-delay: 0.3s; }
    body.error404 *:nth-child(5n) {
      -webkit-transition-delay: 0.45s;
      -moz-transition-delay: 0.45s;
      transition-delay: 0.45s; }
  body.error404 .error-404 {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left;
    text-align: center; }
    body.error404 .error-404 img {
      margin-bottom: 2rem; }
    body.error404 .error-404 a {
      color: #e02436; }
      body.error404 .error-404 a:hover, body.error404 .error-404 a:focus {
        color: #ba1933; }
