@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/**
 * reset->reset
 *
 * Grey's CSS Reset v3 (Modified: 14th February 2014)
 * Combining, amongst my own changes, the very best of:
 * HTML5 Doctor's CSS reset (http://html5doctor.com/html-5-reset-stylesheet/)
 * The YUI 2 CSS Reset (http://developer.yahoo.com/yui/reset/)
 * Nicolas Gallagher's Normalize.css (http://necolas.github.com/normalize.css/) 
 * Accessible element hiding by Jonathan Snook (http://snook.ca/archives/html_and_css/hiding-content-for-accessibility) 
 * The best ampersand from Dan Cederholm (http://simplebits.com/notebook/2008/08/14/ampersands-2/)
 * Clearfix from Position Is Everything (http://www.positioniseverything.net/easyclearing.html)
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body,
div, span, article, aside, figure, figcaption, footer, header, group, main, menu, nav, section,
object, embed, iframe, applet, audio, video, img, picture,
h1, h2, h3, h4, h5, h6,
p, blockquote, dl, dt, dd, ol, ul, li,
a, pre, abbr, address, cite, code, del, ins, dfn, em, kbd, q, samp, small, sub, sup, var, b, i, u, s, strong, time, mark, bdi, bdo, ruby, rt, rp,
form, fieldset, legend, label, input, button, select, textarea, keygen, output, progress, meter,
details, summary, command, menu,
table, thead, tbody, tfoot, caption, tr, th, td,
hr {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: inherit;
  font-style: normal;
  vertical-align: baseline; }

html {
  overflow-y: scroll;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  width: 100%;
  background-color: transparent;
  font-size: 100%;
  line-height: 1; }

article, aside, figure, figcaption, footer, header, hgroup, main, nav, section, details {
  display: block;
  /* IE6-9, FF3 */ }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 0;
  border-top: 1px solid #ccc; }

audio, video, canvas {
  display: inline-block;
  /* IE8-9 */
  *display: inline;
  /* IE6-7, FF3 */
  *zoom: 1;
  /* IE6-7, FF3 */ }

img, picture, svg, audio, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
  /* IE7-8 */ }

audio:not([controls]) {
  display: none; }

svg:not(:root) {
  overflow: hidden;
  /* IE9 */ }

figure {
  margin: 0;
  /* IE8-9, S5 */ }

a {
  background: transparent;
  /* IE10 */ }
  a:active, a:hover {
    outline: 0; }
  a:focus {
    outline: thin dotted;
    /* Chrome */ }
  a img {
    border: none;
    /* IE6-9 */ }

strong, b {
  font-weight: bold; }

em, i, dfn {
  font-style: italic; }

ins, u {
  text-decoration: underline; }

del, s {
  text-decoration: line-through; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: smaller; }

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre, code, kbd, samp, ruby, rt, rb {
  font-size: 1em;
  font-family: monospace; }

mark {
  background-color: #ff9;
  border-bottom: 1px solid #ff0; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

nav ol, nav ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  text-align: left;
  vertical-align: top; }

[hidden],
template {
  display: none;
  /* IE7-9, FF3, S4 */ }

input, button, textarea, select, optgroup {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 0;
  /* OS X */
  background: transparent;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  *vertical-align: middle;
  /* IE6-7 */ }

select option {
  border: none; }

input, button {
  line-height: normal;
  /* FF3-4 */ }

button {
  text-transform: none;
  /* Chrome, S5+, IE8+ */
  overflow: visible;
  /* IE8+ */ }

button,
select {
  text-transform: none;
  /* IE8+, FF4+, Opera */
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

optgroup {
  font-weight: bold; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  /* FF4+ */
  border: 0;
  /* FF4+ */ }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  /* iOS */
  *overflow: visible;
  /* IE7 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* iOS, S5, Chrome (OS X) */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Chrome */ }

textarea {
  vertical-align: top;
  overflow: auto;
  /* IE6-9 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.635em 0.75em; }

legend {
  padding: 0;
  border: 0; }

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.clearfix:after, .row:after, .header .header__inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .clearfix, * html .row, * html .header .header__inner, .header * html .header__inner {
  height: 1%;
  /* IE6 */ }
*:first-child + html .clearfix, *:first-child + html .row, *:first-child + html .header .header__inner, .header *:first-child + html .header__inner {
  min-height: 1px;
  /* IE7 */ }

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  vertical-align: bottom; }

/**
 * project->functions
 */
/**
 * project->variables
 */
/**
 * project->mixins
 */
/** 
 * components->buttons
 */
.button,
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  padding: 0.5em 0.75em;
  border: none;
  color: white;
  background-color: #959599;
  text-decoration: none;
  line-height: 1.2em;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }
  .button:hover, .button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  button:hover,
  button:focus {
    background-color: #7b7b80; }
  .button .fa,
  input[type="submit"] .fa,
  input[type="reset"] .fa,
  button .fa {
    padding-right: 0.25em;
    border-right: 1px solid rgba(255, 255, 255, 0.6); }
  .button.button--small,
  input[type="submit"].button--small,
  input[type="reset"].button--small,
  button.button--small {
    font-size: smaller; }
  .button.button--large,
  input[type="submit"].button--large,
  input[type="reset"].button--large,
  button.button--large {
    font-size: larger; }
  .button.button--positive,
  input[type="submit"].button--positive,
  input[type="reset"].button--positive,
  button.button--positive {
    background-color: #00a175; }
    .button.button--positive:hover, .button.button--positive:focus,
    input[type="submit"].button--positive:hover,
    input[type="submit"].button--positive:focus,
    input[type="reset"].button--positive:hover,
    input[type="reset"].button--positive:focus,
    button.button--positive:hover,
    button.button--positive:focus {
      background-color: #006e50; }
  .button.button--negative,
  input[type="submit"].button--negative,
  input[type="reset"].button--negative,
  button.button--negative {
    background-color: #ba1933; }
    .button.button--negative:hover, .button.button--negative:focus,
    input[type="submit"].button--negative:hover,
    input[type="submit"].button--negative:focus,
    input[type="reset"].button--negative:hover,
    input[type="reset"].button--negative:focus,
    button.button--negative:hover,
    button.button--negative:focus {
      background-color: #8d1327; }
  .button.button--rss,
  input[type="submit"].button--rss,
  input[type="reset"].button--rss,
  button.button--rss {
    background-color: #ff6600; }
    .button.button--rss:hover, .button.button--rss:focus,
    input[type="submit"].button--rss:hover,
    input[type="submit"].button--rss:focus,
    input[type="reset"].button--rss:hover,
    input[type="reset"].button--rss:focus,
    button.button--rss:hover,
    button.button--rss:focus {
      background-color: #cc5200; }

/**
 * components->grid
 */
.row, .header .header__inner {
  width: 100%;
  max-width: 71.25rem;
  margin-right: auto;
  margin-left: auto; }
  .row.row--skinny, .header .row--skinny.header__inner {
    max-width: 60rem; }
  .row.row--fullwidth, .header .row--fullwidth.header__inner {
    max-width: none; }

/**
 * components->typography
 */
body {
  color: #101010;
  font-size: 18px;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300; }

strong,
b {
  font-weight: 600; }

.billboard .billboard__title a {
  font-size: 1.333em;
  font-family: "quatro-slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  font-style: italic; }
  @media only screen and (min-width: 40.063em) {
    .billboard .billboard__title a {
      font-size: 1.414em; } }
  .billboard .billboard__title a small {
    color: #959599;
    font-size: normal; }

.footer h6 {
  margin-bottom: 0.9375rem;
  font-size: smaller;
  font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

/**
 * patterns->billboard
 */
.billboard {
  position: relative;
  overflow: hidden; }
  .billboard .billboard__media a {
    display: block; }
  .billboard .billboard__media img {
    width: 100%; }
  .billboard .billboard__caption {
    padding: 1rem;
    color: white;
    background-color: #101010;
    font-size: smaller;
    line-height: 1.5; }
    @media only screen and (min-width: 40.063em) {
      .billboard .billboard__caption {
        max-width: 80%;
        position: absolute;
        bottom: 10%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8); } }
  .billboard .billboard__title {
    font-size: larger; }
    .billboard .billboard__title a {
      color: #e02436;
      text-decoration: none; }

/**
 * patterns->breadcrumbs
 */
.breadcrumbs {
  font-size: smaller; }
  .breadcrumbs a {
    color: #716e6d;
    text-decoration: none; }
  .breadcrumbs .sep {
    margin: 0 0.5rem;
    color: #959599; }

/**
 * site->global
 */
html {
  overflow-x: hidden; }

body {
  position: relative;
  left: 0; }
  @media only screen and (max-width: 40em) {
    body {
      -webkit-transition: left 0.3s ease;
      -moz-transition: left 0.3s ease;
      transition: left 0.3s ease; }
      body.js-navigation-open {
        left: 200px; } }

.browser-warning {
  padding: 6px;
  background-color: #fedd44;
  text-align: center; }
  .browser-warning a {
    color: inherit; }

/**
 * site->masthead
 */
@media only screen and (max-width: 40em) {
  .header {
    background-color: #ba1933;
    font-size: larger; } }
@media only screen and (min-width: 40.063em) {
  .header {
    border-top: 4px solid #e5e5e5;
    background-color: white; } }
@media only screen and (min-width: 40.063em) {
  .header .header__inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; } }
.header .branding {
  text-align: right; }
  @media only screen and (min-width: 40.063em) {
    .header .branding {
      float: left; } }
  @media only screen and (max-width: 40em) {
    .header .branding a {
      display: block;
      padding: 6px;
      float: right;
      color: white;
      font-family: "lato", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none; } }
  @media only screen and (min-width: 40.063em) {
    .header .branding a {
      display: block;
      margin-right: 16px;
      width: 50px;
      height: 50px;
      background-image: url("/wp-content/themes/bristolian/assets/img/logo.png");
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90% 90%; }
      html.svg .header .branding a {
        background-image: url("/wp-content/themes/bristolian/assets/img/logo-notext.svg"); } }
.header .navigation-toggle {
  display: block;
  padding: 6px;
  float: left;
  color: white; }
  @media only screen and (min-width: 40.063em) {
    .header .navigation-toggle {
      display: none; } }
  body.js-navigation-open .header .navigation-toggle {
    color: #930916; }
.header .navigation ul {
  list-style: none; }
.header .navigation a {
  display: block;
  font-size: small;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }
  .header .navigation a .fa-money {
    color: #00a175; }
@media only screen and (max-width: 40em) {
  .header .navigation {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    border-left: 4px solid #716e6d;
    background-color: #444444; }
    .header .navigation a {
      padding: 1rem 0.5rem; }
      .header .navigation a:hover, .header .navigation a:focus {
        margin-left: -4px;
        border-left: 4px solid #e02436; }
    .header .navigation .navigation__primary a {
      color: white; }
    .header .navigation .navigation__secondary a {
      color: #959599; } }
@media only screen and (min-width: 40.063em) {
  .header .navigation li {
    display: inline-block;
    float: left; }
    .header .navigation li.current-menu-item a, body.single-meet .header .navigation li.menu-item-70 a, body.single-news .header .navigation li.menu-item-180 a, body.single-community .header .navigation li.menu-item-212 a, body.search-results .header .navigation li.menu-item-24 a {
      margin-top: -4px;
      border-top: 4px solid #e02436; }
  .header .navigation a {
    padding: 16.66667px 8px;
    color: #101010;
    line-height: 16.66667px; } }
  @media only screen and (min-width: 40.063em) and (min-width: 50.063em) {
    .header .navigation a {
      padding-right: 16px;
      padding-left: 16px; } }
@media only screen and (min-width: 40.063em) {
    .header .navigation a:hover, .header .navigation a:focus {
      margin-top: -4px;
      border-top: 4px solid #e02436; }
  .header .navigation .navigation__primary {
    float: left; }
  .header .navigation .navigation__secondary {
    float: right; } }

/**
 * site->footer
 */
.footer {
  color: #e5e5e5;
  background-color: #444444;
  font-size: 90%; }
  .footer h6 {
    margin-top: 2rem; }
  .footer a {
    color: #959599;
    text-decoration: none; }
    .footer a:hover, .footer a:focus {
      color: white; }
  .footer ul {
    line-height: 1.5;
    list-style: none; }
  .footer .footer-links .footer-links__group {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    position: relative;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .footer .footer-links .footer-links__group {
        width: 33.33333%; } }
    @media only screen and (min-width: 50.063em) {
      .footer .footer-links .footer-links__group {
        width: 25%; } }
    .footer .footer-links .footer-links__group.footer-links__group--site h6 {
      width: 86px;
      height: 86px;
      background-image: url("/wp-content/themes/bristolian/assets/img/logo.png");
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-size: 86px 86px;
      -webkit-filter: grayscale(100%) opacity(90%); }
    .footer .footer-links .footer-links__group.footer-links__group--affiliates li {
      display: inline-block;
      width: 80px;
      margin: 0 0.25rem 0.25rem 0; }
    .footer .footer-links .footer-links__group.footer-links__group--affiliates a {
      -webkit-filter: grayscale(100%) opacity(50%); }
      .footer .footer-links .footer-links__group.footer-links__group--affiliates a:hover, .footer .footer-links .footer-links__group.footer-links__group--affiliates a:focus {
        -webkit-filter: grayscale(0) opacity(100%); }
  .footer .boilerplate {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #101010; }
    .footer .boilerplate small {
      display: block;
      width: 100%;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
      position: relative;
      float: left;
      line-height: 1.5; }
