/** 
 * sections->home
 */

body.home {
	.main {
		margin-top: 0;
	  margin-bottom: 0;
	  @media #{$medium-up} {
	    margin-bottom: rem-calc($rem-base*2);
	  }
	}
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		@media #{$medium-up} {
			padding-bottom: 4px;
			border-color: palette(black);
			background-color: rgba(palette(black), 0.65);
			.navigation {
				a {
					color: palette(white);
				}
			}
		}
	}
	html.cssvhunit & {
		@media #{$large-up} {
			.cover {
				height: 80vh;
			}
		}
	}
}