$red: rgb(200,16,46);
$dark-grey: rgb(34,34,34);
$light-grey: rgb(136,136,136);
$ultra-light-grey: rgb(217,217,217);

$baseline-height: 1.5em;
$base-font: "Open Sans", "Helvetica Neue", Arial, FreeSans, sans-serif;
$header-font: Arvo, Rockwell, Georgia, "Times New Roman", serif;

$base-color: $red;
$base-contrast-color: #fff;
$text-color: $dark-grey;
$detail-color: $light-grey;
$border-color: $ultra-light-grey;