/**
 * site->global
 */

html {
  background-color: palette(grey, x-dark);
  overflow-x: hidden;
}

body {
  position: relative;
  left: 0;
  @media #{$small-only} {
    @include transition(left .3s ease);
    &.js-navigation-open {
      left: 200px;
    }
  }
}

.browser-warning {
  padding: 6px;
  background-color: palette(yellow);
  text-align: center;
  a {
    color: inherit;
  }
}

.guns-dont-kill-people {
  background-color: palette(white);
}

.main {
  margin-bottom: rem-calc($rem-base*2);
  @media #{$medium-up} {
    margin-top: rem-calc($rem-base);
  }
}