/**
 * components->typography
 */

body {
  font-family: $body-font;
  font-weight: 300;
  font-size: $rem-base; 
}

h1,
h2,
h3,
h4 {
  + h1,
  + h2,
  + h3,
  + h4 {
    margin-top: rem-calc($rem-base);
  }
}

h1,
%h1 {
  font-family: $title-font;
  font-weight: 900;
  font-size: rem-calc(40);
  text-transform: uppercase; 
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: rem-calc(65);
  }
}

h2,
%h2 {
  font-family: $title-font;
  font-weight: 900;
  font-size: rem-calc(35);
  line-height: 1.2;
  @media #{$medium-up} {
    font-size: rem-calc(40);
  }
}

h3,
%h3 {
  font-family: $title-font;
  font-weight: 900;
  font-size: rem-calc(25);
  line-height: 1.15;
  @media #{$medium-up} {
    font-size: rem-calc(30);
  }
}

h4,
%h4 {
  font-family: $title-font;
  font-weight: 900;
  font-size: rem-calc(16);
  @media #{$medium-up} {
    font-size: rem-calc(18);
  }
}

h5,
%h5 {
  margin-bottom: rem-calc(8);
  font-family: $title-font;
  font-weight: 300;
  font-size: rem-calc(17);
  text-transform: uppercase; 
  letter-spacing: 1px;
}

h6,
%h6 {
  margin-bottom: rem-calc(15);
  font-family: $title-font;
  font-weight: 300;
  font-size: rem-calc(12);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 small, 
h2 small {
  font-weight: 300;
  color: palette(grey);
}

p, ul, ol, dl {
  margin: rem-calc($rem-base 0);
  line-height: rem-calc(27);
}

.lede {
  font-size: 120%;
  @media #{$medium-up} {
    font-size: 140%;
  }
}

.caption {
  font-size: smaller;
  line-height: 1.4em;
}

ul, ol {
  margin: rem-calc($rem-base/2 0);
  padding: 0 0 0 rem-calc(35);
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: rem-calc($rem-base*4);
  }
}

a {
  color: palette(red);
  -webkit-transition: color .15s ease;
     -moz-transition: color .15s ease;
          transition: color .15s ease;
  &:hover,
  &:focus {
    color: palette(red, dark);
  }
}

mark {
  background-color: palette(yellow);
}