/**
 * pattern->search-result
 */

.results {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .results__item {
    @extend .row;
    margin-bottom: rem-calc($rem-base);
    .results__image {
      @include column(2, 2, 1);
    }
    .results__content {
      @include column(10, 10, 5);
      h4 {
        a {
          text-decoration: none;
        }
      }
      p {
        margin: 0;
        font-size: smaller;
      }
    }
  }
}