/**
 * patterns->slab
 */

.slab--red { background-color: palette(red); }
.slab--dark-red { background-color: palette(red, dark); }
.slab--blue { background-color: palette(blue); }
.slab--dark-blue { background-color: palette(blue, dark); }
.slab--yellow { background-color: palette(yellow); }
.slab--purple { background-color: palette(purple); }
.slab--green { background-color: palette(green); }
.slab--grey { background-color: palette(grey); }
.slab--dark-grey { background-color: palette(grey, dark); }
.slab--light-grey { background-color: palette(grey, light); }
.slab--x-light-grey { background-color: palette(grey, x-light); }
.slab--black { background-color: palette(black); }
.slab--white { background-color: palette(white); }