/**
 * components->form
 */

.form {
  margin: rem-calc($rem-base 0);
  .form__row {
    margin: rem-calc($rem-base 0);
  }
}

label[for] {
  display: block;
  padding: rem-calc($rem-base/4 ($rem-base/2)+1px);
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
select,
textarea {
  display: block;
  width: 100%;
  padding: rem-calc($rem-base/4 $rem-base/2);
  border-color: palette(grey, light);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: palette(white);
  line-height: rem-calc(27);
  -webkit-transition: border-color .15s ease;
     -moz-transition: border-color .15s ease;
          transition: border-color .15s ease;
  &:enabled {
    &:hover,
    &:focus {
      outline: 0;
      border-color: palette(grey, dark);
    }
  }
  &:disabled,
  &[disabled],
  &:read-only,
  &[readonly] {
    color: palette(grey);
    background-color: palette(grey, x-light);
  }
  &:disabled,
  &[disabled] {
    opacity: 0.5;
  }
}

select {
  padding-left: 26px;
  background-image: image-url('dropdown-arrow.gif');
  background-position: 10px center;
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    background-image: image-url('dropdown-arrow-focus.gif');
  }
}