/**
 * components->postcard
 */

.postcard {
  margin-top: rem-calc(($rem-base*5)/2)+1;
  border: 1px solid palette(grey, x-light);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
  .postcard__title {
    display: inline-block;
    margin-bottom: -(rem-calc(($rem-base*5)/2));
    width: rem-calc(80);
    height: rem-calc(80);
    position: relative;
    top: -(rem-calc(($rem-base*5)/2));
    border: 1px solid palette(grey, x-light);
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    background-color: palette(white);
    h1 {
      @extend %h6; 
      line-height: rem-calc(80);
    }
  }
  .postcard__data {
    padding: rem-calc($rem-base/2);
    font-size: smaller;
  }
}