/**
 * site->global
 */

html {
  color: $text-color;
  background-color: palette(black);
}

body {

}

hr {
  margin: rem-calc($rem-base*3 0);
}

.browser-warning {
  padding: rem-calc($rem-base/2);
  background-color: palette(yellow);
  text-align: center;
  a {
    color: inherit;
  }
}

.guns-dont-kill-people {
  background-color: palette(white);
}

.main {
  margin: rem-calc($rem-base*2 0);
}

.breadcrumbs {
  @extend .row; 
  @include pad-this();
  margin-bottom: rem-calc($rem-base);
}

.sidebar {
  @include column(12, 4);
}

.pace {
  -webkit-pointer-events: none;
          pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    height: 58px;
    background-image: image-url('loading.gif');
    background-position: bottom right;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .6s, width 1s;
       -moz-transition: width 1s;
            transition: transform .6s, width 1s;
    -webkit-transform: translateX(62px);
         -o-transform: width 1s;
            transform: translateX(62px);
    opacity: 0.5;
    pointer-events: none;
  }
  &.pace-active .pace-progress {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  }
}