/**
 * site->masthead
 */

.header {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .header__inner {
    @extend .row;
    @include pad-this();
  }
}

.branding {
  display: inline-block;
  margin-right: rem-calc($rem-base/2);
  float: left;
  a {
    display: block;
    width: rem-calc($masthead-height);
    height: rem-calc($masthead-height);
    background-image: image-url('logo.png');
    background-size: 90% 90%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    html.svg & {
      background-image: image-url('logo.svg'); 
    }
  }
}

.mobile-navigation-icon {
  display: inline-block;
  width: rem-calc($masthead-height);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: palette(grey);
  font-size: 2em;
  text-align: center;
  line-height: rem-calc($masthead-height);
  @media #{$medium-up} {
    display: none;
  }
  -webkit-transition: background-color .15s ease;
     -moz-transition: background-color .15s ease;
          transition: background-color .15s ease;
  &:hover,
  &:focus {
    color: palette(grey);
    background-color: palette(grey, x-light);
  }
}

%navigation {
  ul {
    margin: 0;
    padding: 0;
  }
  @media #{$small-only} {
    display: none;
  }
  @media #{$medium-up} {
    li {
      display: inline;
    }
    a {
      display: inline-block;
      padding: rem-calc($masthead-height/3 $rem-base/2);
      color: $text-color;
      font-family: $title-font;
      font-size: rem-calc(12);
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      line-height: rem-calc($masthead-height/3);
      letter-spacing: 1px;
      white-space: nowrap;
      &:hover,
      &:focus {
        padding-top: rem-calc(($masthead-height/3)-4px);
        border-top: 4px solid palette(red);
      }
    }
  }
  @media #{$large-up} {
    a {
      padding-right: $rem-base;
      padding-left: $rem-base;
    }
  }
}

.primary-navigation {
  float: left;
  @extend %navigation;
  @media #{$large-up} {
    li {
      float: left;
    }
  }
}

.control-navigation {
  float: right;
  @extend %navigation;
  li {
    float: left;
  }
  .fa {
    font-size: larger;
    &.fa-money {
      color: palette(green);
    }
  }
}

.section-title {
  @media #{$small-only} {
    padding-top: rem-calc($rem-base);
    clear: left;
  }
}
