/**
 * sections->about
 */

body.page-id-18 {
  .post {
    margin-bottom: 0;
  }
  .about-meets {
    @include column(12, 6);
  }
  .bb-badge {
    width: 150px;
    margin: rem-calc(0 0 $rem-base $rem-base);
    float: right;
  }
}